/*==================================================================================
  THEME
==================================================================================*/
#configuration input[type="submit"] {
  margin-top: 20px;
}
#configuration .error {
  color: #a53737;
}
#configuration hr {
  border-bottom: 1px solid #000;
  min-width: 10px
}
#configuration .ajax-action {
  margin-top: 10px;
}
#configuration .config-group {
  margin-top: 20px;
}
#configuration .config-group tr th {
  text-align: left;
}
#configuration .config-group tr td:first-child {
  font-weight: bold;
  max-width: 170px;
  padding-right: 10px;
}
#configuration .config-group tr td:first-child label {
  font-weight: bold;
}
#configuration .config-group ul {
  margin-top: 0;
  margin-bottom: 0;
}
#configuration input[type="text"] {
  width: 100%;
  max-width: 180px;
}
#configuration .config-group + .config-group {
  margin-top: 40px;
}
#configuration > form > table > tbody > tr > td {
  vertical-align: top;
}
#configuration .config-group td {
  padding: 5px 0;
}
#configuration .config-group .wp-picker-active {
  padding: 5px;
  border: 1px solid;
}

/*==================================================================================
  LOADING
==================================================================================*/
#configuration.loading {
  position: relative;
  transition: .7s;
}
#configuration.loading > form {
  opacity: .5;
}
#configuration.loading > form:after {
  position: absolute;
  z-index: 99900;
  content: "";
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('images/loading.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
}


/*==================================================================================
  MESSAGES
==================================================================================*/
#configuration #config-message {
  display: block;
  max-width: 300px;
  font-weight: bold;
}
#configuration #config-message.success,
#configuration #config-message.error {
  margin-top: 20px;
  padding: 10px;
}
#configuration #config-message.success {
  border: 1px solid #74b95b;
  color: #74b95b;
}
#configuration #config-message.error {
  border: 1px solid #a53737;
  color: #a53737;
}


/*==================================================================================
  SORTABLE
==================================================================================*/
.sortable li:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 15px;
  margin-right: 5px;
  background-image: linear-gradient(
  to bottom,
  transparent 1px,
  gray 2px,
  gray 2px,
  transparent 3px,
  transparent 7px,
  gray 8px,
  gray 8px,
  transparent 9px,
  transparent 13px,
  gray 14px,
  gray 14px,
  transparent 15px
  );
}
.sortable li > label {
  padding: 0 5px;
}


/*==================================================================================
  IMAGE SELECTOR
==================================================================================*/
#configuration .img-selected {
  display: block;
  position: relative;
  border: 1px solid;
  line-height: 0;
  max-width: 100px;
  line-height: 0;
  margin: 15px 0 10px;
}
#configuration .img-selected:empty {
  border: 0 solid;
  margin: 0;
}
#configuration .img-selected img {
  width: 100%;
  height: auto;
}
#configuration .img-selected .remove_image {
  position: absolute;
  top: -10px;
  right: -10px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid;
  background-color: white;
  cursor: pointer;
}
#configuration .img-selected .remove_image svg {
  width: 10px;
  margin: 5px;
}


/*==================================================================================
  ADDABLE
==================================================================================*/
#configuration ul.addable input[type="text"],
#configuration ul.addable ul.multiple {
  width: calc(100% - 22px);
  display: inline-block;
}
#configuration ul.addable.disable-remove input[type="text"],
#configuration ul.addable.disable-remove ul.multiple {
  width: 100%;
}
#configuration ul.addable .remove {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  color: #a53737;
}
#configuration ul.addable.disable-remove .remove {
  display: none;
}
#configuration ul.addable + .input-fields-adder {
  margin-top: 0;
}


/*==================================================================================
  MULTIPLE
==================================================================================*/
#configuration .config-group .multiple {
  margin: 0;
}
#configuration .config-group .multiple li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*==================================================================================
  SWITCH BUTTON
==================================================================================*/
.switchbutton {
	display: flex;
	overflow: hidden;
}
.switchbutton input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
.switchbutton label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}
.switchbutton label:hover {
	cursor: pointer;
}
.switchbutton input:checked + label {
	background-color: #007cba;
  color: #FFF;
	box-shadow: none;
}
.switchbutton label:first-of-type {
	border-radius: 4px 0 0 4px;
}
.switchbutton label:last-of-type {
	border-radius: 0 4px 4px 0;
}
