/**
 * General CSS File
 * Contains defaults and presets
 *
 * @author      David Voglgsang
 *
*/



/*==================================================================================
  STYLES
==================================================================================*/

:root {
  --container_content: calc(var(--container__width) - var(--container__side) - var(--container__side));
  --container_spacing: calc(50% - var(--container__side) - (var(--container__width) / 2));
  --img_wide_reset:    calc(var(--container__width) + var(--img_wide_left) + var(--img_wide_right));
}

html {
  &:not(.wp-toolbar) {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--html__fontfamily);
    font-size: var(--html__fontsize);
    line-height: var(--html__lineheight);
    margin: 0;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &.noscroll {
      overflow: hidden;
    }
  }
}

body.frontend {
  // used as wrapper for sticky footer
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--html__fontfamily);
  font-size: var(--html__fontsize);
  line-height: var(--html__lineheight);

  main {
    * {
      /* Gutenberg font size
      /––––––––––––––––––––––––*/
      font-size: var(--font-size);
      line-height: calc(var(--font-size) * 1.2);
      /* Anchor position
      /––––––––––––––––––––––––*/
      // anchors are not allowed to have top spacing
      &[id]:target {
        // scroll-margin-top: var(--html__anchor);
        // scroll-snap-margin-top: var(--html__anchor);
        padding-top: var(--html__anchor);
        margin-top: calc(var(--html__anchor) * -1);
      }
    }

    /* LOADING
    /––––––––––––––––––––––––*/
    .loading {
      position: relative;
      &:before {
        display: block;
        content: "";
        position: absolute;
        top: 100px;
        left: calc(50% - 20px);
        width: 1em;
        height: 1em;
        border-radius: 50%;
        text-indent: -9999em;
        -webkit-animation: loadAnimation 1.3s infinite linear;
        animation: loadAnimation 1.3s infinite linear;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
      }
    }
    @-webkit-keyframes loadAnimation {
      0%,
      100% {box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;}
      12.5% {box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;}
      25% {box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;}
      37.5% {box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;}
      50% {box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;}
      62.5% {box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;}
      75% {box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;}
      87.5% {box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;}
    }
    @keyframes loadAnimation {
      0%,
      100% {box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;}
      12.5% {box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;}
      25% {box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;}
      37.5% {box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;}
      50% {box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;}
      62.5% {box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;}
      75% {box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;}
      87.5% {box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;}
    }
  }


  /* FULL AND WIDE ALIGN
  /––––––––––––––––––––––––*/
  .alignwide {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
  }
  .alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    width: 100vw;
    > img {
      width: 100vw;
    }
  }


  /* HIDE/SHOW BY BREAKPOINT
  /––––––––––––––––––––––––*/
  .dn {
    display: none!important;
  }
  .db {
    display: block!important;
  }
  .hidden {
    opacity: 0!important;
    pointer-events: none!important;
  }
  .shown {
    opacity: 1!important;
    pointer-events: all!important;
  }


  /* SANITIZING
  /––––––––––––––––––––––––*/
  :focus {
    outline: 0;
  }

}


.editor-styles-wrapper *::before,
.editor-styles-wrapper *::after,
*::before,
*::after {
  box-sizing: border-box!important;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  -webkit-tap-highlight-color: transparent;
}
.editor-styles-wrapper *,
* {
  box-sizing: border-box!important;
}


/* Links
/––––––––––––––––––––––––*/
a {
  transition: .3s;
}


/* Flexbox row
/––––––––––––––––––––––––*/
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


/* Grid fixer
/––––––––––––––––––––––––*/
.grid-fixer {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border-width: 0;
}


/* OBJECT-FIT (Modernizr)
/––––––––––––––––––––––––*/
.modernizr-of {
  width: 100%;
  height: 100%; // add custom height as needed
  background-size: cover; // modernizr
  object-fit: cover;
}


/* TEXT
/––––––––––––––––––––––––*/
p {
  margin-top: 0;
}

/* IMAGES
/––––––––––––––––––––––––*/
main img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}


/* VIDEO
/––––––––––––––––––––––––*/
.wp-block-video,
.is-type-video {
  &.alignwide,
  &.alignfull {
    text-align: center;
    video {
      width: 100%;
      max-width: 100%;
    }
  }
  video,
  iframe {
    max-width: 100%;
  }
}


/* TABLE
/––––––––––––––––––––––––*/
table {
  border-collapse: collapse;
}


/* REMOVE MOBILE SUBMIT STYLING
/––––––––––––––––––––––––*/
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/* RESPONSIVE VIDEO
/––––––––––––––––––––––––*/
.is-type-video .wp-block-embed__wrapper,
.resp_video {
  position: relative;
	padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  > iframe,
  > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/* CONTAINER WITH OVERLAY
/––––––––––––––––––––––––*/
.overlay-container {
  position: relative;
  &.active-iframe .overlay,
  &:focus .overlay,
  &:focus-within .overlay,
  > iframe:focus + .overlay,
  > iframe:focus-within + .overlay,
  > iframe:active + .overlay {
    height: 0;
  }
  .overlay {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    iframe,
    video {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}


/* CALL FUNCTION
/––––––––––––––––––––––––*/
html[data-touch="false"] .call {
  cursor: auto;
  pointer-events: none;
  color: inherit;
  text-decoration: inherit;
}



/*==================================================================================
  ANIMATIONS
==================================================================================*/

@keyframes FadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes SlideInFromLeft {
  0% { left: -100%; }
  100% { left: 0; }
}

@keyframes OnLoadSlideInFromLeft {
  0% { left: -100%; }
  80% { left: -100%; }
  100% { left: 0; }
}



/*==================================================================================
  BACKEND
==================================================================================*/

/* CONTAINER
/––––––––––––––––––––––––*/
.editor-styles-wrapper .wp-block {
  &:not([data-align="full"]){
    &:not([data-align="wide"]){
      max-width: var(--container_content);
    }
  }
}

/* DEFAULT FONT SIZE
/––––––––––––––––––––––––*/
.editor-styles-wrapper {
  font-family: var(--html__fontfamily) !important;
  font-size: var(--html__fontsize) !important;
  line-height: var(--html__lineheight) !important;
}


/* PAGE NAME - TITLE HIDDEN
/––––––––––––––––––––––––*/
.editor-post-title__input {
  &.small {
    font-size: 10px;
    height: 30px!important;
  }
}


/* BLOCK - VIMEO
/––––––––––––––––––––––––*/
.editor-styles-wrapper {
  .block-vimeo {
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      z-index: 1;
      display: block;
      content: "";
      width: 100%;
      height: calc(100% - 60px);
    }
  }
}

.wp-block[data-align=wide] {
  max-width: var(--img_wide_reset);
}
