/**
 * Theme sticky header
 *
 * @author      David Voglgsang
 *
*/


@import 'vars';

/* ACTIVE
/––––––––––––––––––––––––*/
body.sticky > header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  > hr.divider {
    max-width: 100%;
  }
}
