/**
 * Defalut input styles
 *
 * @author      David Voglgsang
 *
*/


body.frontend,
body.page-template,
.editor-styles-wrapper {

  label {
    display: inline-block;
    width: var(--label_width, auto);
    max-width: 100%;
    border-width: var(--label_borderWidth, 0);
    border-style: var(--label_borderStyle, solid);
    border-radius: var(--label_borderRadius, 0);
    margin: var(--label_margin, 0);
    padding: var(--label_padding, 0);
  }

  // input[type="image"]

  input[type="color"],
  input[type="date"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="file"],
  input[type="hidden"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea:not(.block-editor-plain-text):not(.block-editor-block-list__block-html-textarea) {
    width: var(--input_width, auto);
    max-width: 100%;
    padding: var(--input__padding, 7px 10px);
    border-radius: var(--input__borderRadius, 0);
    border-style: var(--input_borderStyle, solid);
    border-width: var(--input__border_width, 1px);
    flex-grow: 1;
    &.blocks-shortcode__textarea {
      border-width: 1px;
    }
  }

  .select-container {
    display: inline-block;
    position: relative;
    width: var(--input_width, auto);
    max-width: 100%;
    &:after {
      display: flex;
      justify-content: center;
      align-items: center;
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: var(--input__selectContainer_width, 30px);
      height: 100%;
      pointer-events: none;
    }
    select {
      appearance: none;
      width: 100%;
    }
  }
  select {
    padding: var(--input__select_padding, 8px 12px);
    border-width: var(--input__select_border_width, 1px);
    border-style: var(--input_select_borderStyle, solid);
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;
    + label,
    + .wpcf7-list-item-label {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        content: "";
        border-width: var(--input__checkbox_border_width, 1px);
        border-style: solid;
        min-width: var(--input__checkbox_width, 20px);
        height: var(--input__checkbox_width, 20px);
        margin-right: var(--input__checkbox_space, 20px);
        margin-top: var(--input__checkbox_marginTop, 0);
      }
    }
  }
  input[type="radio"] {
    + label,
    + .wpcf7-list-item-label {
      &:before {
        border-radius: 50%;
      }
    }
  }

  input[type="range"]{
    min-height: var(--input__range_handle_width, 20px);
    margin: 0;
    appearance: none;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
    &:focus {
      outline: none;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: var(--input__range_handle_width, 20px);
      height: var(--input__range_handle_height, 20px);
      border-radius: var(--input__range_handle_borderRadius, 50%);
      border-width: var(--input__range_handle_borderWidth, 1px);
      border-style: var(--input__range_handle_borderStyle, solid);
      margin-top: calc(-1px + (var(--input__range_handle_width, 20px) / 2 * -1) + (var(--input__range_handle_borderWidth, 1px) * -1) + (var(--input__range_progressbar_height, 5px) / 2) + var(--input__range_progressbar_borderWidth, 1px));
    }
    &::-webkit-slider-runnable-track {
      height: var(--input__range_progressbar_height, 5px);
      border-width: var(--input__range_progressbar_borderWidth, 1px);
      border-style: var(--input__range_progressbar_borderStyle, solid);
      border-radius: var(--input__range_progressbar_borderRadius, 2px);
      box-shadow: none;
    }
    &::-moz-range-thumb {
      width: calc(var(--input__range_handle_width, 20px) * .8);
      height: calc(var(--input__range_handle_height, 20px) * .8);
      border-radius: var(--input__range_handle_borderRadius, 50%);
      border-width: var(--input__range_handle_borderWidth, 1px);
      border-style: var(--input__range_handle_borderStyle, solid);
    }
    &::-moz-range-track {
      height: calc(var(--input__range_progressbar_height, 5px) * .7);
      border-width: var(--input__range_progressbar_borderWidth, 1px);
      border-style: var(--input__range_progressbar_borderStyle, solid);
      border-radius: var(--input__range_progressbar_borderRadius, 2px);
      box-shadow: none;
    }
    &::-ms-thumb {
      width: var(--input__range_handle_width, 20px);
      height: var(--input__range_handle_height, 20px);
      border-radius: var(--input__range_handle_borderRadius, 50%);
      border-width: var(--input__range_handle_borderWidth, 1px);
      border-style: var(--input__range_handle_borderStyle, solid);
      margin-top: 0;
      box-sizing: border-box;
    }
    &::-ms-track {
      height: var(--input__range_progressbar_height, 5px);
      border-radius: var(--input__range_progressbar_borderRadius, 2px);
      border-width: var(--input__range_progressbar_borderWidth, 1px);
      border-style: var(--input__range_progressbar_borderStyle, solid);
      box-shadow: none;
      box-sizing: border-box;
    }
    &::-ms-fill-lower {
      height: var(--input__range_progressbar_height, 5px);
      border-radius: var(--input__range_progressbar_borderRadius, 2px);
      margin: -1px 0 -1px -1px;
      border-width: var(--input__range_progressbar_borderWidth, 1px);
      border-style: var(--input__range_progressbar_borderStyle, solid);
      border-right-width: 0;
    }
  }

  // input[type="button"]

  input[type="submit"],
  button[type="submit"] {
    border-radius: var(--input__submit_borderRadius, 0);
    border-style: solid;
    border-width: var(--input__submit_borderWidth, var(--input__border_width, 1px));
    padding: var(--input__submit_padding, 10px 20px);
    appearance: none;
    cursor: pointer;
  }

  input[type="reset"],
  button[type="reset"] {
    border-radius: var(--input__reset_borderRadius, 0);
    border-style: solid;
    border-width: var(--input__reset_borderWidth, var(--input__border_width, 1px));
    padding: var(--input__reset_padding, 10px 20px);
    appearance: none;
    cursor: pointer;
  }


  /* CF7 SUPPORT
  /––––––––––––––––––––––––*/
  .wpcf7 {
    .wpcf7-checkbox {
      display: block;
    }
    .wpcf7-list-item {
      display: block;
      margin: 0;
    }
  }


  /* MAUTIC SUPPORT
  /––––––––––––––––––––––––*/
  .mauticform_wrapper {
    .mauticform-row {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: var(--mautic__row_marginBottom, 20px);
      gap: var(--mautic__row_gap, 20px);
      row-gap: var(--mautic__row_rowgap, 0);
      .mauticform-errormsg {
        width: 100%;
      }
    }
  }

}
