/**
 * Theme structure
 * Contains everything that is not related to the content itself like
 * header, footer and main navigations
 *
 * @author      David Voglgsang
 *
*/


@import 'vars';

/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 GENERAL
  2.0 HEADER
  3.0 MAIN
    3.1 SPACING
    3.2 BLOG & SEARCH
  4.0 FOOTER
=======================================================*/


body.frontend,
.block-editor .editor-styles-wrapper {

  /*==================================================================================
  1.0 GENERAL
  ==================================================================================*/
  .container,
  .is-style-container,
  .is-style-content-container .wp-block-group__inner-container {
    max-width: $container_content;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container__side;
    padding-right: $container__side;
    @include vpw_min($container__width) {
      width: 100%;
    }
  }
  .is-style-content-container .wp-block-cover__inner-container {
    max-width: $container_content;
    @include vpw_min($container__width) {
      width: 100%;
    }
  }
  > header,
  > main,
  > footer {
    width: 100%;
  }

  .before-container,
  .after-container {
    width: 100%;
    max-width: $container_spacing;
    min-width: fit-content;
    &:empty {
      padding: 0;
    }
  }
  .before-container {
    padding-left: $container__side;
  }
  .after-container {
    direction: rtl;
    padding-right: $container__side;
    @include mobile {
      direction: ltr;
      padding-left: $container__side;
    }
  }



  /*==================================================================================
  2.0 HEADER
  ==================================================================================*/
  > header {
    transition: $transition_slow;
    nav {
      display: flex;
      justify-content: space-between;
      padding: $space_half 0;
      .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > * {
          margin-right: $space_double;
          &:last-child {
            margin-right: 0;
          }
        }
        > *:last-child {
          text-align: right;
          @include mobile {
            text-align: left;
          }
        }
      }
      .logo {
        &.text_logo {
          text-decoration: none;
        }
        img {
          &:not([width]) {
            &:not([height]) {
              object-fit: contain;
            }
          }
        }
      }
      #menu-main-container {
        transition: $transition_fast;
        ul#menu_main {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: $transition_slow;
          > li {
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              > li {
                margin: $space_half 0;
              }
            }
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
    > hr.divider {
      max-width: $container_content;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      opacity: .5;
      transition: $transition_slow;
    }
  }



  /*==================================================================================
  3.0 MAIN
  ==================================================================================*/

  /* 3.1 SPACING
  /––––––––––––––––––––––––*/
  > main {
    margin: $space_double 0;
    section,
    article,
    .wp-block-container,
    .wp-block-group__inner-container,
    .wp-block-cover__inner-container {
      & > p,
      & > ol,
      & > ul,
      & > figure,
      & > blockquote,
      & > .wp-block-button,
      & > .wp-block-cover,
      & > .wp-block-file,
      & > .wp-block-columns,
      & > .wp-block-columns .wp-block-column p,
      & > .wp-block-columns .wp-block-column ol,
      & > .wp-block-columns .wp-block-column ul,
      & > .wp-block-columns .wp-block-column img,
      & > .wp-block-columns .wp-block-column figure,
      & > .wp-block-media-text p,
      & > .post-password-form p,
      & > .block-accordion,
      & > .block-accordion .accordion-content p,
      & > .block-accordion .accordion-content ol,
      & > .block-accordion .accordion-content ul,
      & > .block-accordion .accordion-content img,
      & > .block-accordion .accordion-content figure,
      & > .block-posts,
      & > #search-form {
        margin-bottom: $space;
        &:last-child {
          margin-bottom: 0;
        }
      }
      & > .wp-block-columns .wp-block-column {
        @include mobile {
          margin-bottom: $space;
        }
      }
    }
    h1 {
      margin-bottom: $space_double;
    }
    h2 {
      margin-top: $space_double;
      margin-bottom: $space_half;
      &:first-child {
        margin-top: 0;
      }
    }
    h3 {
      margin-top: $space;
      margin-bottom: $space_short;
    }
    h4, h5, h6 {
      margin-bottom: 0;
    }
  }


  /* 3.2 BLOG & SEARCH
  /––––––––––––––––––––––––*/
  #search-results,
  #home,
  #archive {
    margin-top: 20px;
    article {
      &.flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        @include mobile {
          flex-direction: column;
          > div,
          > img {
            width: 100%;
            margin-right: 0;
          }
        }
        > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: calc(60% - 20px);
          margin-right: 20px;
          .entry-content {
            flex-grow: 1;
          }
        }
        > img,
        > figure {
          width: 40%;
          margin: 0;
          line-height: 0,
        }
      }
      + article {
        margin-top: 40px;
      }
      .post-meta {}
      .list-category {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }


  /*==================================================================================
  4.0 FOOTER
  ==================================================================================*/
  > footer {
    display: flex;
    margin-top: auto;
    @include mobile {
      flex-direction: column;
    }
    .footer-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      @include mobile {
        flex-direction: column;
        margin: 0;
        .copyright {
          order: 2;
        }
      }
      > * {
        margin-bottom: $space;
      }
      > *:last-child {
        text-align: right;
        @include mobile {
          text-align: left;
        }
      }
    }
    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        > li ul {
          margin-bottom: $space_half
        }
      }
    }
    address {
      display: flex;
      flex-direction: column;
      &:last-child {
        .location {
          justify-content: flex-end;
          @include mobile {
            justify-content: flex-start;
          }
        }
      }
      .location {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }

}
