/**
 * Theme blocks & block stylings
 *
 * @author      David Voglgsang
 *
*/


/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 BLOCKS
    1.1 SOCIAL MEDIA
    1.2 POSTS
    1.3 POSTS FILTER
    1.4 ACCORDION
    1.5 GALLERY
    1.6 VIMEO
    1.7 LIST
    1.8 CONTAINER
    1.9 COVER
  2.0 BLOCK STYLINGS
    2.1 BACKEND HIGHLIGHTS
    2.2 COLUMNS
    2.3 FULL HIGHT
=======================================================*/



body.frontend,
.block-editor .editor-styles-wrapper {

  /*==================================================================================
    1.0 BLOCKS
  ==================================================================================*/

    /* 1.1 SOCIAL MEDIA
    /––––––––––––––––––––––––*/
    .socialmedia {
      --iconSize: 20px;
      --spaceBetween: 10px;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      li {
        margin: 0 2px;
        a {
          display: block;
          line-height: 0;
          svg {
            width: var(--iconSize);
          }
        }
        + li {
          margin-left: var(--spaceBetween);
        }
      }
    }


    /* 1.2 POSTS
    /––––––––––––––––––––––––*/
    div.block-posts {
      --columnSpacing: calc(var(--postColumns) - 1);
      --spaceFixer: calc(var(--postColumnsSpace) * var(--columnSpacing));
      --containerwidth: calc(100% - var(--spaceFixer));
      --childwidth: calc(var(--containerwidth) / var(--postColumns));
      &.gallery-grid {
        > ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, var(--childwidth));
          grid-gap: var(--postColumnsSpace);
          // justify-content: space-between;
          align-content: flex-start;
        }
      }
      &.gallery-swiper {
        > ul {
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          li {
            flex: 0 0 var(--childwidth);
            flex-basis: var(--childwidth);
            width: var(--childwidth);
            max-width: var(--childwidth);
            margin-bottom: 0;
            margin-right: var(--postColumnsSpace);
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      .sort-options {
        label {
          cursor: pointer;
          .sort-arrow svg {
            transition: .3s;
          }
          &.z-a {
            .sort-arrow svg {
              transform: rotate(-180deg);
            }
          }
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        &.loading {
          > li {
            opacity: .3;
            transition: .3s;
          }
        }
        li {
          &.wide {
            grid-column: span var(--postColumns);
          }
          figure {
            margin: 0;
            audio,
            video {
              max-width: 100%;
            }
          }
        }
      }
    }


    /* 1.3 POSTS FILTER
    /––––––––––––––––––––––––*/
    div.block-postsfilter {
      --spaceBetween: 40px;
      &.filter-left,
      &.filter-right {
        display: flex;
        flex-wrap: nowrap;
        .thefilter {
          margin-right: var(--spaceBetween);
        }
      }
      &.filter-right {
        flex-direction: row-reverse;
        .thefilter {
          margin-right: 0;
          margin-left: var(--spaceBetween);
        }
      }
      > div {
        &.grid,
        &.list {
          width: 100%;
          figure {
            margin: 0;
          }
        }
        &.grid {
          --columnSpacing: calc(var(--postColumns) - 1);
          --spaceFixer: calc(var(--postColumnsSpace) * var(--columnSpacing));
          --containerwidth: calc(100% - var(--spaceFixer));
          --childwidth: calc(var(--containerwidth) / var(--postColumns));
          display: grid;
          grid-template-columns: repeat(auto-fit, var(--childwidth));
          grid-gap: var(--postColumnsSpace);
          // justify-content: space-between;
          align-content: flex-start;
          > .wide {
            grid-column: span var(--postColumns);
          }
        }
        &.loading {
          > div {
            opacity: .3;
            transition: .3s;
          }
        }
      }
      > form {
        &.thefilter {
          > * + * {
            margin-top: var(--content__space);
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li,
            .components-base-control__field {
              display: flex;
              flex-wrap: wrap;
              .subcategoreis {
                flex-basis: 100%;
                width: 100%;
                margin-left: 15px;
              }
            }
          }
          fieldset {
            max-width: 100%;
            border: 0;
            padding: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            legend {
              margin-bottom: 5px;
            }
          }
          .textsearch {
            label {
              display: block;
              margin-bottom: 5px;
            }
          }
        }
      }
    }


    /* 1.4 ACCORDION
    /––––––––––––––––––––––––*/
    .block-accordion {
      .accordion-item {
        + .accordion-item {
          margin-top: var(--block__accordion_separator, 20px);
        }
        .accordion-label {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          padding: var(--block__accordion_label_spacing, 8px 12px);
          position: relative;
          cursor: pointer;
          line-height: 1;
          &:not(.active){
            + .accordion-content {
              .is-style-default {
                li:before {
                  opacity: 0;
                }
              }
            }
          }
          &.active {
            .icon {
              &:after {
                transform: rotate(0deg);
                transition: .3s;
              }
            }
            + .accordion-content {
              padding: var(--block__accordion_content_spacing, 8px 12px);
              height: auto;
              a {
                display: inline;
              }
            }
          }
          .icon {
            position: relative;
            border-radius: var(--block__accordion_icon_borderRadius, 0);
            width: var(--block__accordion_icon_width, 40px);
            height: var(--block__accordion_icon_height, 40px);
            margin-left: var(--block__accordion_icon_seperator, 20px);
            &:before,
            &:after {
              position: absolute;
              display: block;
              content: "";
              width: var(--block__accordion_icon_plusSize, 30px);
              height: var(--block__accordion_icon_plusWeight, 30px);
              border-radius: var(--block__accordion_icon_plusRadius, 2px);
            }
            &:before,
            &:after {
              left: calc(50% - (var(--block__accordion_icon_plusSize, 30px) / 2));
              top: calc(50% - (var(--block__accordion_icon_plusWeight, 30px) / 2));
            }
            &:after {
              transform: rotate(90deg);
              transition: .3s;
            }
          }
        }
        .accordion-content {
          padding: 0;
          height: 0;
          overflow: hidden;
          transition: .3s;
          + .label {
            border-top: 1px solid;
          }
        }
      }
    }


    /* 1.5 GALLERY
    /––––––––––––––––––––––––*/
    .gallery-block {
      --sliderHeight: 300px;
      height: var(--sliderHeight);
      // backend
      &.extraheight {
        --sliderHeight: 500px;
      }
      .wp-block {
        margin: 0;
      }
      ul {
        overflow-x: hidden!important;
        > .block-editor-inner-blocks {
          width: 100%;
          height: 100%;
          > .block-editor-block-list__layout {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            height: 100%;
            li.gallery-item {
              > .block-editor-inner-blocks,
              > .block-editor-inner-blocks > .block-editor-block-list__layout {
                height: 100%;
              }
            }
            > div {
              width: 100%!important;
              max-width: 100%;
              flex-basis: 100%!important;
              flex: 0 0 100%;
              height: 100%;
              .components-resizable-box__container {
                width: 100%!important;
                img {
                  height: var(--sliderHeight);
                  max-height: 100%!important;
                  width: 100%!important;
                }
              }
              img {
                height: 100%;
              }
            }
          }
        }
      }
      // frontend
      > ul {
        height: 100%;
        li.gallery-item {
          height: 100%;
          .wp-block-cover,
          .wp-block-cover-image {
            min-height: unset;
            max-height: 100%;
            padding: 0;
            height: 100%;
            > img {
              height: 100%;
              object-fit: cover!important;
            }
            .wp-block-cover__inner-container {
              padding: var(--content__space, 30px);
            }
          }
          figure {
            width: 100%;
            margin: 0;
            max-width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover!important;
            }
          }
          .block-list-appender {
            display: none;
          }
        }
      }
    }


    /* 1.6 VIMEO
    /––––––––––––––––––––––––*/
    .block-editor-block-list__block {
      &.is-selected {
        > .block-vimeo > a {
          pointer-events: inherit;
        }
      }
      > .block-vimeo > a {
        pointer-events: none;
      }
    }
    .block-vimeo {
      --tocWidth: 30%;
      --tocSpacing: 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      > a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        .block-editor-block-list__block & {
          pointer-events: none;
        }
      }
      .video-cover {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      }
      .video-container,
      .resp_video {
        width: 100%;
        &.video-preview {
          position: absolute;
          z-index: 2;
          height: 100%;
          max-width: 100%!important;
          cursor: pointer;
          &.active {
            opacity: 0;
            pointer-events: none;
          }
          iframe {
            pointer-events: none;
          }
        }
      }
      > .table-of-content {
        &.position-left,
        &.position-right {
          width: var(--tocWidth);
          padding: var(--tocSpacing);
          + .video-container {
            max-width: calc(100% - var(--tocWidth));
          }
        }
        &.position-right,
        &.position-bottom {
          order: 2;
          + .video-container {
            order: 1;
          }
        }
      }
      .table-of-content {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }
    }


    /* 1.8 CONTAINER
    /––––––––––––––––––––––––*/


    /* 1.9 COVER
    /––––––––––––––––––––––––*/
    div.wp-block-cover {
      padding: 0;
      .wp-block-cover__inner-container {
        padding-left: var(--container__side, 20px);
        padding-right: var(--container__side, 20px);
        padding-top: var(--block__cover_container_paddingTop, 20px);
        padding-bottom: var(--block__cover_container_paddingBottom, 20px);
        .is-style-cover-background {
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          height: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }



  /*==================================================================================
    2.0 BLOCK STYLINGS
  ==================================================================================*/


    /* 2.1 BACKEND HIGHLIGHTS
    /––––––––––––––––––––––––*/
    .block-editor-block-list__block {
      // disabled block
      &[data-disabled="true"] {
        opacity: .1;
        &.is-selected {
          opacity: 1;
        }
      }
      // mobile / desktop block
      &[data-ismobile="true"] {
        &:after {
          content: "mobile only";
        }
      }
      &[data-isdesktop="true"] {
        &:after {
          content: "desktop only";
        }
      }
      &[data-ismobile="true"],
      &[data-isdesktop="true"] {
        &.is-selected {
          &:after {
            opacity: 0;
          }
        }
        &:after {
          display: block;
          position: absolute;
          top: unset;
          left: unset;
          right: 0;
          bottom: 0;
          width: fit-content;
          height: fit-content;
          padding: 3px;
          font-size: 10px;
          background: black;
          color: white;
        }
      }
      &[data-ismobile="true"][data-isdesktop="true"] {
        &:after {
          display: flex;
          justify-content: center;
          align-items: center;
          content: "configure visibility";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: .7;
        }
      }
    }


    /* 2.2 COLUMNS
    /––––––––––––––––––––––––*/
    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .column {}
      .flex-placeholder {
        height: 0;
      }
    }


  /* 2.3 SOCIAL MEDIA
  /––––––––––––––––––––––––*/
  .socialmedia {
    --iconSize: 20px;
    --spaceBetween: 10px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    li {
      margin: 0 2px;
      a {
        display: block;
        line-height: 0;
        svg {
          width: var(--iconSize);
        }
      }
      + li {
        margin-left: var(--spaceBetween);
      }
    }
  }


  /* 2.4 LIST
  /––––––––––––––––––––––––*/
  ul.is-style-default {
    list-style: none;
    margin-top: 0;
    padding: 0;
    li {
      padding-left: var(--block__list_marker_space, 20px);
      &:before {
        display: block;
        content: var(--block__list_marker_value, "•");
        font-size: var(--block__list_marker_size, 150%);
        line-height: 1;
        position: absolute;
        margin-left: calc(var(--block__list_marker_space, 20px) * -1);
      }
    }
  }


  /* 2.5 HR
  /––––––––––––––––––––––––*/
  hr.wp-block-separator {
    margin-top: var(--block__separator_marginTop, 0);
    margin-bottom: var(--block__separator_marginBottom, var(--content__space, 30px));
    &:not(.is-style-dots) {
      border-top-width: var(--block__separator_width, 1px);
      border-bottom-width: 0;
      border-style: solid;
    }
  }


  /* 2.6 BUTTONS
  /––––––––––––––––––––––––*/
  .wp-block-buttons {
    gap: var(--block__buttons_spacing, 10px);
    .wp-block-button {
      .wp-block-button__link {
        padding: var(--block__buttons_padding, 8px 12px);
        border-width: var(--block__buttons_borderWidth, 1px);
        border-radius: var(--block__buttons_borderRadius, 0);
      }
    }
  }


  /* 2.xx BLOCK STYLES
  /––––––––––––––––––––––––*/
  .arrow-toggle {
    --size: 40px;
    --tooglePosition: 15px;
    --spacing: 10px 10px;
    --maxSize: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    &.position-left,
    &.position-right {
      height: 100%;
      flex-direction: row;
      .label {
        &.active {
          + div {
            width: inherit;
          }
        }
        + div {
          width: 0;
          height: 100%;
          overflow-y: auto;
          max-width: var(--maxSize);
       }
      }
    }
    &.position-top,
    &.position-bottom {
      width: 100%;
      flex-direction: column;
      .label {
        &.active {
          + div {
            height: inherit;
          }
        }
        + div {
          width: 100%;
          height: 0;
          overflow-y: auto;
          max-height: var(--maxSize);
       }
      }
    }
    &.position-top,
    &.position-left {
      .label {
        order: 2;
      }
    }
    &.position-top {
      .label {
        margin-top: calc(var(--tooglePosition) * -1);
        &.active {
          transform: rotate(180deg);
        }
      }
    }
    &.position-left {
      .label {
        transform: rotate(-90deg);
        margin-left: calc(var(--tooglePosition) * -1);
        &.active {
          transform: rotate(90deg);
        }
      }
    }
    &.position-bottom {
      bottom: 0;
      .label {
        transform: rotate(180deg);
        margin-bottom: calc(var(--tooglePosition) * -1);
        &.active {
          transform: rotate(0deg);
        }
      }
    }
    &.position-right {
      right: 0;
      .label {
        transform: rotate(90deg);
        margin-right: calc(var(--tooglePosition) * -1);
        &.active {
          transform: rotate(-90deg);
        }
      }
    }
    .label {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      svg {
        width: 50%;
        height: auto;
      }
      &.active {
        + div {
          padding: var(--spacing);
        }
      }
    }
  }

  // GROUP
  .is-style-fullheight {
    .wp-block-group__inner-container {
      min-height: 100vh;
      height: 100vh;
    }
  }

}
