/*
 * Default coloring
 * Add only
 *
 * @author      David Voglgsang
 *
*/


/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 GENERAL
    1.1 BACKGROUND
    1.2 LINKS
    1.3 MARKER
    1.4 INPUTS
    1.5 BREADCRUMBS
    1.6 LOADING
    1.7 LANGUAGE SWITCHER
  2.0 HEADER
    2.1 BACKGROUND
    2.2 LOGO TEXT
    2.3 HAMBURGER
    2.4 DIVIDER
    2.5 MAIN MENU
    2.6 ACTIVE MENU
  3.0 MAIN
    3.1 SEARCH RESULTS
    3.2 POST TITLE
    3.3 TITLE SIZES
    3.4 LEAD
  4.0 BLOCKS
    4.1 ACCORDION
    4.2 BUTTONS
    4.3 EXTENDED VIMEO
    4.4 SEPERATOR
    4.5 LIST
    4.6 SOCIAL MEDIA
    4.7 IMAGE PINS
    4.8 QUOTE
    4.9 GALLERY
    4.10 VIDEO
  5.0 FOOTER
    5.1 BACKGROUND
    5.2 LINKS
=======================================================*/



body.frontend,
.block-editor .editor-styles-wrapper {

  /*==================================================================================
    1.0 GENERAL
  ==================================================================================*/

  /* 1.1 BACKGROUND
  /––––––––––––––––––––––––*/
  background-color: var(--main_background);
  color: var(--main_color);
  main {
    > section {
      background-color: var(--mainSection__bgColor, transparent);
    }
  }


  /* 1.2 LINKS
  /––––––––––––––––––––––––*/
  a {
    color: var(--color__main);
    text-decoration: none;
    &:hover {
      color: var(--color__secondary);
    }
  }


  /* 1.3 MARKER
  /––––––––––––––––––––––––*/
  mark {
    background: var(--text__marked_bg);
    color: var(--text__marked);
  }
  ::selection {
    background: var(--text__marked_bg);
    color: var(--text__marked);
  }
  ::-moz-selection {
    background: var(--text__marked_bg);
    color: var(--text__marked);
  }


  /* 1.4 INPUTS
  /––––––––––––––––––––––––*/
  input[type="submit"],
  button[type="submit"] {
    background-color: var(--input__submit_bg_color);
    border-color: var(--input__submit_border_color);
    color: var(--input__submit_color);
    &:hover {
      background-color: var(--input__submit_bg_color_hover);
      border-color: var(--input__submit_border_color_hover);
      color: var(--input__submit_color_hover);
    }
  }
  input[type="reset"],
  button[type="reset"] {
    background-color: var(--input__reset_bg_color);
    border-color: var(--input__reset_border_color);
    color: var(--input__reset_color);
    &:hover {
      background-color: var(--input__reset_bg_color_hover);
      border-color: var(--input__reset_border_color_hover);
      color: var(--input__reset_color_hover);
    }
  }
  input,
  textarea,
  select {
    color:  var(--input__color);
    background-color: var(--input__bg_color);
    border-color: var(--input__border_color);
    // placeholder
    &::-webkit-input-placeholder {color: var(--input__placeholder_color, var(--main_color));}
    &::-moz-placeholder {color: var(--input__placeholder_color, var(--main_color));}
    &:-ms-input-placeholder {color: var(--input__placeholder_color, var(--main_color));}
    &:-moz-placeholder {color: var(--input__placeholder_color, var(--main_color));}
  }
  select {
    background-color: var(--input__select_bg_color);
    color: var(--input__select_color);
    border-color: var(--input__select_border_color);
  }
  .select-container {
    &:after {
      color: var(--input__selectContainer_color);
      background-color: var(--input__selectContainer_bg_color);
    }
  }
  input[type="checkbox"],
  input[type="radio"] {
    &:checked {
      + label,
      + .wpcf7-list-item-label {
        &:before {
          background-color: var(--input__checkbox_bg_checked);
        }
      }
    }
    + label,
    + .wpcf7-list-item-label {
      &:before {
        background-color: var(--input__checkbox_bg);
        border-color: var(--input__checkbox_border_color);
      }
    }
  }
  .required,
  .mauticform-has-error {
    input,
    textarea,
    select {
      border-color: var(--input__required);
    }
  }


  /* 1.5 BREADCRUMBS
  /––––––––––––––––––––––––*/
  nav.breadcrumbs {
    color: var(--bc__color, inherit);
    background-color: var(--bc__background_color, inherit);
    a {
      color: var(--bc__link_color, inherit);
      &:hover {
        color: var(--bc__link_color_hover, inherit);
      }
    }
    .current-page {
      color: var(--bc__color_active, inherit);
    }
  }


  /* 1.6 LOADING
  /––––––––––––––––––––––––*/
  .loading {
    &:before {
      color: var(--main_color);
    }
  }


  /* 1.7 LANGUAGE SWITCHER
  /––––––––––––––––––––––––*/
  .language-switcher {
    background-color: var(--ls__background_color, initial);
    color: var(--ls__link_color, inherit);
    li {
      &.current-lang a {
        color: var(--ls__color_active, inherit);
      }
      a {
        color: var(--ls__link_color, inherit);
        &:hover {
          color: var(--ls__link_color_hover, inherit);
        }
      }
    }
  }



  /*==================================================================================
    2.0 HEADER
  ==================================================================================*/

  /* 2.1 BACKGROUND
  /––––––––––––––––––––––––*/
  &:not(.fixed),
  &.scrolled {
    > header {
      background-color: var(--header_background);
      .header-container {
        background-color: var(--headercontainer_background);
      }
    }
  }


  > header {

    /* 2.2 LOGO TEXT
    /––––––––––––––––––––––––*/
    .text_logo {
      color: var(--color__main);
    }


    /* 2.3 HAMBURGER
    /––––––––––––––––––––––––*/
    .hamburger {
      + .menu-title {
        color: var(--hamburger_text_color, var(--hamburger_color));
      }
      span {
        background: var(--hamburger_color);
        &:before,
        &:after {
            background: var(--hamburger_color);
        }
      }
    }

    /* 2.4 DIVIDER
    /––––––––––––––––––––––––*/
    > hr.divider {
       border-color: var(--main_color);
    }


    /* 2.5 MAIN MENU
    /––––––––––––––––––––––––*/
    #menu-main-container {
      > ul#menu_main {
        > li {
          &.current-menu-ancestor > a,
          &.current-menu-item > a {
            color: var(--mnav__color_active);
            background-color: var(--mnav__background_color_active);
          }
          > a {
            color: var(--mnav__color);
            border-color: var(--mnav__border_color);
            background-color: var(--mnav__background_color);
            &:hover {
              color: var(--mnav__color_hover);
              background-color: var(--mnav__background_color_hover);
            }
          }
          >ul {
            > li {
              &.current-menu-ancestor > a,
              &.current-menu-item > a {
                color: var(--mnav__sub_color_active);
                background-color: var(--mnav__sub_background_color_active);
              }
              > a {
                color: var(--mnav__sub_color);
                border-color: var(--mnav__sub_border_color);
                background-color: var(--mnav__sub_background_color);
                &:hover {
                  color: var(--mnav__sub_color_hover);
                  background-color: var(--mnav__sub_background_color_hover);
                }
              }
              > ul {
                > li {
                  &.current-menu-ancestor > a,
                  &.current-menu-item > a {
                    color: var(--mnav__subSub_color_active);
                    background-color: var(--mnav__subSub_background_color_active);
                  }
                  > a {
                    color: var(--mnav__subSub_color);
                    border-color: var(--mnav__subSub_border_color);
                    background-color: var(--mnav__subSub_background_color);
                    &:hover {
                      color: var(--mnav__subSub_color_hover);
                      background-color: var(--mnav__subSub_background_color_hover);
                    }
                  }
                  > ul {
                    > li {
                      &.current-menu-ancestor > a,
                      &.current-menu-item > a {
                        color: var(--mnav__subSubSub_color_active);
                        background-color: var(--mnav__subSubSub_background_color_active);
                      }
                      > a {
                        color: var(--mnav__subSubSub_color);
                        border-color: var(--mnav__subSubSub_border_color);
                        background-color: var(--mnav__subSubSub_background_color);
                        &:hover {
                          color: var(--mnav__subSubSub_color_hover);
                          background-color: var(--mnav__subSubSub_background_color_hover);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

  }


  /* 2.6 ACTIVE MENU
  /––––––––––––––––––––––––*/
  &.active-menu {
    #menu-main-container {
      background-color: var(--mnav_background);
    }
  }



  /*==================================================================================
    3.0 MAIN
  ==================================================================================*/

  /* 3.1 SEARCH RESULTS
  /––––––––––––––––––––––––*/
  #search-results {
    .results {
      article {
        border-color: var(--search__article_borderColor, inherit);
      }
    }
  }


  /* 3.2 POST TITLE
  /––––––––––––––––––––––––*/
  .post-title,
  .is-style-post-title {
    &:not(.has-text-color){
      color: var(--postTitle__color, inherit);
    }
    &:not(.has-background){
      background-color: var(--postTitle__bg, inherit);
    }
  }


  /* 3.3 TITLE SIZES
  /––––––––––––––––––––––––*/
  .is-style-title-one {
    &:not(.has-text-color){
      color: var(--titleOne__color, inherit);
    }
    &:not(.has-background){
      background-color: var(--titleOne__bg, inherit);
    }
  }
  .is-style-title-two {
    &:not(.has-text-color){
      color: var(--titleTwo__color, inherit);
    }
    &:not(.has-background){
      background-color: var(--titleTwo__bg, inherit);
    }
  }
  .is-style-title-three {
    &:not(.has-text-color){
      color: var(--titleThree__color, inherit);
    }
    &:not(.has-background){
      background-color: var(--titleThree__bg, inherit);
    }
  }


  /* 3.4 LEAD
  /––––––––––––––––––––––––*/
  .leadtext,
  .is-style-lead {
    &:not(.has-text-color){
      color: var(--leadText__color, inherit);
    }
    &:not(.has-background){
      background-color: var(--leadText__bg, inherit);
    }
  }



  /*==================================================================================
    4.0 BLOCKS
  ==================================================================================*/

  /* 4.1 ACCORDION
  /––––––––––––––––––––––––*/
  .block-accordion {
    .accordion-item {
      .accordion-label {
        background-color: var(--block__accordion_label_bg);
        color: var(--block__accordion_label);
        .icon {
          background-color: var(--block__accordion_iconbox_bg);
          &:before,
          &:after {
            background-color: var(--block__accordion_label_arrow);
          }
        }
      }
      .accordion-content {
        background-color: var(--block__accordion_content_bg);
        color: var(--block__accordion_content);
      }
    }
  }


  /* 4.2 BUTTONS
  /––––––––––––––––––––––––*/
  .wp-block-button {
    .wp-block-button__link {
      &:not(.has-text-color){
        color: var(--block__buttons_color);
      }
      &:not(.has-background){
        background-color: var(--block__buttons_bgColor);
        border-color: var(--block__buttons_borderColor);
      }
      &:hover {
        &:not(.has-text-color){
          color: var(--block__buttonsHover_color);
        }
        &:not(.has-background){
          background-color: var(--block__buttonsHover_bgColor);
          border-color: var(--block__buttonsHover_borderColor);
        }
      }
    }
  }


  /* 4.3 EXTENDED VIMEO
  /––––––––––––––––––––––––*/
  .block-vimeo {
    .arrow-toggle {
      .label,
      .table-of-content {
        background-color: var(--main_background);
      }
    }
  }


  /* 4.4 SEPERATOR
  /––––––––––––––––––––––––*/
  hr.wp-block-separator {
    color: var(--gbSeperator_color);
  }


  /* 4.5 LIST
  /––––––––––––––––––––––––*/
  ul.is-style-default li {
    &:before {
      color: var(--gbList_marker_color);
    }
  }

  /* 4.6 SOCIAL MEDIA
  /––––––––––––––––––––––––*/
  .socialmedia li a svg {
    fill: var(--color__main);
  }
  .socialmedia li a:hover svg {
    fill: var(--color__secondary);
  }

  /* 4.7 IMAGE PINS
  /––––––––––––––––––––––––*/
  .block-image-pins {
    figure {
      .pins {
        .block-image-pin {
          > span {
            svg {
              &:hover {
                .pin-fill {
                  fill: var(--imagePins__pinColor_hover, var(--imagePins__pinColor, var(--color__main)));
                }
                .pin-stroke {
                  stroke: var(--imagePins__pinColor_hover, var(--imagePins__pinColor, var(--color__main)));
                }
              }
              .pin-fill {
                fill: var(--imagePins__pinColor, var(--color__main));
              }
              .pin-stroke {
                stroke: var(--imagePins__pinColor, var(--color__main));
              }
            }
          }
          .pin-info {
            background-color: var(--imagePins__pinInfo_bc, var(--main_background));
            border-color: var(--imagePins__pinInfo_borderColor, transparent);
            .close {
              svg {
                &:hover {
                  .svg-fill {
                    fill: var(--imagePins__pinInfo_closeColor_hover, var(--imagePins__pinInfo_closeColor, var(--color__main)));
                  }
                  .svg-stroke {
                    stroke: var(--imagePins__pinInfo_closeColor_hover, var(--imagePins__pinInfo_closeColor, var(--color__main)));
                  }
                }
                .svg-fill {
                  fill: var(--imagePins__pinInfo_closeColor, var(--color__main));
                }
                .svg-stroke {
                  stroke: var(--imagePins__pinInfo_closeColor, var(--color__main));
                }
              }
            }
          }
        }
      }
    }
  }


  /* 4.8 QUOTE
  /––––––––––––––––––––––––*/
  .wp-block-quote {
    border-color: var(--block__quote_borderColor, inherit);
    &:not(.has-text-color){
      color: var(--block__quote_color, inherit);
    }
    &:not(.has-background){
      background-color: var(--block__quote_bg, inherit);
    }
    cite {
      &:not(.has-text-color){
        color: var(--block__quote_cite_color, inherit);
      }
      &:not(.has-background){
        background-color: var(--block__quote_cite_bg, inherit);
      }
    }
  }


  /* 4.9 GALLERY
  /––––––––––––––––––––––––*/
  .gallery-block,
  .wp-block-gallery-container {
    > .arrow {
      svg {
        path {
          fill: var(--block__imagegallery_arrow_color, inherit);
        }
      }
    }
    > .bullet-navigation {
      ul {
        li {
          background-color: var(--swiper__bulletNav_item_bg, var(--color__main));
          color: var(--swiper__bulletNav_item_color, var(--color__main));
          border-color: var(--swiper__bulletNav_item_borderColor, var(--color__main));
          &.active {
            background-color: var(--swiper__bulletNav_itemActive_bg, var(--color__secondary));
            color: var(--swiper__bulletNav_itemActive_color, var(--color__secondary));
            border-color: var(--swiper__bulletNav_itemActive_borderColor, var(--color__secondary));
          }
        }
      }
    }
  }


  /* 4.10 VIDEO
  /––––––––––––––––––––––––*/
  .wp-block-video {
    .video-js {
      &:not(.vjs-has-started) {
        .vjs-text-track-display {
          background-color: var(--block__videojs_coverStart_bgColor, transparent);
        }
      }
      &.vjs-paused.vjs-has-started {
        .vjs-text-track-display {
          background-color: var(--block__videojs_coverPause_bgColor, transparent);
        }
      }
      &:hover .vjs-big-play-button,
      .vjs-big-play-button:focus {
        background-color: var(--block__videojs_firstPlay_bgColor_hover, var(--block__videojs_firstPlay_bgColor, transparent));
        border-color: var(--block__videojs_firstPlay_borderColor_hover, var(--block__videojs_firstPlay_borderColor, #fff));
        color: var(--block__videojs_firstPlay_color_hover, var(--block__videojs_firstPlay_color, #fff));
        transition: all 0s;
      }
      .vjs-big-play-button {
        background-color: var(--block__videojs_firstPlay_bgColor, transparent);
        border-color: var(--block__videojs_firstPlay_borderColor, #fff);
        color: var(--block__videojs_firstPlay_color, #fff);
      }
      .vjs-control-bar {
        background-color: var(--block__videojs_controlBar_bgColor, #fff);
      }
      .vjs-remaining-time {
        color: var(--block__videojs_progress_remainingTime_color, inherit);
      }
      button {
        background-color: transparent;
        color: var(--block__videojs_controlBarButton_color, var(--color__main));
        &:hover {
          color: var(--block__videojs_controlBarButton_color_hover, var(--color__secondary));
        }
      }
      .vjs-slider {
        background-color: var(--block__videojs_progress_bgColor, #73859f);
      }
      .vjs-volume-level,
      .vjs-play-progress {
        background-color: var(--block__videojs_progress_passed_bgColor, var(--color__main));
        &:before {
          color: var(--block__videojs_progress_button_color, var(--block__videojs_progress_passed_bgColor, var(--color__main)));
        }
      }
      .vjs-mouse-display .vjs-volume-tooltip,
      .vjs-time-tooltip {
        background-color: var(--block__videojs_tooltip_bgColor, #fff);
        color: var(--block__videojs_tooltip_Color, inherit);
        &:after {
          border-color: var(--block__videojs_tooltip_bgColor, #fff) transparent transparent transparent;
        }
      }
    }
  }



  /*==================================================================================
    5.0 FOOTER
  ==================================================================================*/

  footer {

    /* 5.1 BACKGROUND
    /––––––––––––––––––––––––*/
    color: var(--footer_color);
    background-color: var(--footer_background, transparent);
    .footer-container {
      background-color: var(--footercontainer_background, transparent);
    }


    /* 5.2 LINKS
    /––––––––––––––––––––––––*/
    a {
      color: var(--footer_link_color);
      &:hover {
        color: var(--footer_linkHover_color);
      }
    }


    /* 5.3 MENU
    /––––––––––––––––––––––––*/
    #menu_footer {
      li {
        a {
          color: var(--footer__menu_link_color, var(--footer_link_color));
          &:hover {
            color: var(--footer__menu_linkHover_color, var(--footer_linkHover_color));
          }
        }
      }
    }

  }



}



/*==================================================================================
  6.0 BACKEND OVERRIDES
==================================================================================*/
.block-editor .editor-styles-wrapper {
  background-color: var(--mainSection__bgColor, var(--main_background));
}
