/*
 * Default coloring
 * Add only
 *
 * @author      David Voglgsang
 *
*/


/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 GENERAL
    1.1 INPUTS
    1.2 LINKS
    1.3 SOCIAL MEDIA
  2.0 LIGHT COLORING
    2.1 MAIN BG
    2.2 LOGO TEXT
    2.3 HAMBURGER
    2.4 ACTIVE MENU
    2.5 DIVIDER
    2.6 INPUTS
    2.7 TOGGLE ICON
    2.8 LOADING
    2.9 OTHERS
  3.0 DARK COLORING
    3.1 MAIN BG
    3.2 LOGO TEXT
    3.3 HAMBURGER
    3.4 ACTIVE MENU
    3.5 DIVIDER
    3.6 INPUTS
    2.7 TOGGLE ICON
    2.8 LOADING
    3.9 OTHERS
=======================================================*/



body.frontend,
.block-editor .editor-styles-wrapper {

  /*==================================================================================
    1.0 GENERAL
  ==================================================================================*/

  /* 1.1 INPUTS
  /––––––––––––––––––––––––*/
  input[type="submit"] {
    background-color: var(--color__main);
    border: 1px solid var(--color__main);
    color: var(--color__secondary);
    &:hover {
      background-color: var(--color__secondary);
      color: var(--color__main);
    }
  }

  /* 1.2 LINKS
  /––––––––––––––––––––––––*/
  a {
    color: var(--color__main);
    text-decoration: none;
    &:hover {
      color: var(--color__secondary);
    }
  }

  /* 1.3 SOCIAL MEDIA
  /––––––––––––––––––––––––*/
  .socialmedia li a svg {
    fill: var(--color__main);
  }
  .socialmedia li a:hover svg {
    fill: var(--color__secondary);
  }



  /*==================================================================================
    2.0 LIGHT COLORING
  ==================================================================================*/

  &.light,
  &:not(.dark) {

    /* 2.1 MAIN BG
    /––––––––––––––––––––––––*/
    background-color: var(--light__main_background);
    color: var(--light__main_color);
    header {
      background-color: var(--light__header_background);
      .header-container {
        background-color: var(--light__headercontainer_background);
      }
    }
    footer {
      background-color: var(--light__footer_background);
      .footer-container {
        background-color: var(--light__footercontainer_background);
      }
    }

    /* 2.2 LOGO TEXT
    /––––––––––––––––––––––––*/
    .text_logo {
      color: var(--color__main);
    }

    /* 2.3 HAMBURGER
    /––––––––––––––––––––––––*/
     header .hamburger {
      span {
        background: var(--light__hamburger_color);
        &:before,
        &:after {
            background: var(--light__hamburger_color);
        }
      }
    }

    /* 2.4 ACTIVE MENU
    /––––––––––––––––––––––––*/
    &.active-menu {
      #menu-main-container {
        background-color: var(--light__mnav_background);
      }
    }

    /* 2.5 DIVIDER
    /––––––––––––––––––––––––*/
     header > hr.divider {
       border-color: var(--light__main_color);
    }

    /* 2.6 INPUTS
    /––––––––––––––––––––––––*/
    input, select, textarea {
      &::-webkit-input-placeholder {color: var(--light__main_color); }
      &::-moz-placeholder {color: var(--light__main_color); }
      &:-ms-input-placeholder {color: var(--light__main_color); }
      &:-moz-placeholder {color: var(--light__main_color); }
    }

    /* 2.7 TOGGLE ICON
    /––––––––––––––––––––––––*/
    .block-accordion {
      .accordion-item {
        .accordion-label {
          .icon:before,
          .icon:after {
            background-color: var(--light__main_color);
          }
        }
      }
    }

    /* 2.8 LOADING
    /––––––––––––––––––––––––*/
    .loading:before {
      color: var(--light__main_color);
    }

    /* 2.9 OTHERS
    /––––––––––––––––––––––––*/



  }



  /*==================================================================================
    3.0 DARK COLORING
  ==================================================================================*/

  /* 3.2 DARK THEME
  /––––––––––––––––––––––––*/
  &.dark {

    /* 3.1 MAIN BG
    /––––––––––––––––––––––––*/
    background-color: var(--dark__main_background);
    color: var(--dark__main_color);
    header {
      background-color: var(--dark__header_background);
      .header-container {
        background-color: var(--dark__headercontainer_background);
      }
    }
    footer {
      background-color: var(--dark__footer_background);
      .footer-container {
        background-color: var(--dark__footercontainer_background);
      }
    }

    /* 3.2 LOGO TEXT
    /––––––––––––––––––––––––*/
    .text_logo {
      color: var(--color__secondary);
    }

    /* 3.3 HAMBURGER
    /––––––––––––––––––––––––*/
    header .hamburger {
      span {
        background: var(--dark__hamburger_color);
        &:before,
        &:after {
            background: var(--dark__hamburger_color);
        }
      }
    }

    /* 3.4 ACTIVE MENU
    /––––––––––––––––––––––––*/
    &.active-menu {
      #menu-main-container {
        background-color: var(--dark__mnav_background);
      }
    }

    /* 3.5 DIVIDER
    /––––––––––––––––––––––––*/
     header > hr.divider {
       border-color: var(--dark__main_color);
    }

    /* 3.6 INPUTS
    /––––––––––––––––––––––––*/
    input, select, textarea {
      &::-webkit-input-placeholder {color: var(--dark__main_color); }
      &::-moz-placeholder {color: var(--dark__main_color); }
      &:-ms-input-placeholder {color: var(--dark__main_color); }
      &:-moz-placeholder {color: var(--dark__main_color); }
    }

    /* 3.7 TOGGLE ICON
    /––––––––––––––––––––––––*/
    .block-accordion {
      .accordion-item {
        .accordion-label {
          .icon:before,
          .icon:after {
            background-color: var(--dark__main_color);
          }
        }
      }
    }

    /* 3.8 LOADING
    /––––––––––––––––––––––––*/
    .loading:before {
      color: var(--dark__main_color);
    }

    /* 3.9 OTHERS
    /––––––––––––––––––––––––*/



  }



}
