/**
 * Defalut input styles
 *
 * @author      David Voglgsang
 *
*/


body.frontend,
.block-editor .editor-styles-wrapper {

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: var(--input__padding, 8px 12px);
    border-radius: var(--input__borderRadius, 0);
    border-style: solid;
    border-width: var(--input__border_width, 1px);
  }

  .select-container {
    position: relative;
    select {
      appearance: none;
    }
    &:after {
      display: flex;
      justify-content: center;
      align-items: center;
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: var(--input__selectContainer_width, 30px);
      height: 100%;
      pointer-events: none;
    }
  }
  select {
    width: 100%;
    padding: var(--input__select_padding, 8px 12px);
    border-width: var(--input__select_border_width, 1px);
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: none;
    &:checked {
      + label,
      + .wpcf7-list-item-label {
        &:before {
          background-color: var(--input__checkbox_bg_checked);
        }
      }
    }
    + label,
    + .wpcf7-list-item-label {
      display: flex;
      flex-wrap: nowrap;
      cursor: pointer;
      &:before {
        display: inline-block;
        content: "";
        border-width: var(--input__checkbox_border_width, 1px);
        border-style: solid;
        min-width: var(--input__checkbox_width, 30px);
        height: var(--input__checkbox_width, 30px);
        margin-right: var(--input__checkbox_space, 5px);
      }
    }
  }
  input[type="radio"] {
    + label,
    + .wpcf7-list-item-label {
      &:before {
        border-radius: 50%;
      }
    }
  }

  input[type="submit"],
  button[type="submit"] {
    border-radius: var(--input__submit_borderRadius, 0);
    border-style: solid;
    border-width: var(--input__submit_borderWidth, var(--input__border_width, 1px));
    padding: var(--input__submit_padding, 8px 12px);
    appearance: none;
    cursor: pointer;
  }

  /* CF7 SUPPORT
  /––––––––––––––––––––––––*/
  .wpcf7 {
    .wpcf7-checkbox {
      display: block;
    }
    .wpcf7-list-item {
      display: block;
      margin: 0;
    }
  }

}
