/**
 * Theme structure
 * Contains everything that is not related to the content itself like
 * header, footer and main navigations
 *
 * @author      David Voglgsang
 *
*/



/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 GENERAL
  2.0 HEADER
  3.0 MAIN
    3.1 SPACING
    3.2 BLOG & SEARCH
    3.3 MENU STYLING OPTIONS
    3.4 BREADCRUMBS
    3.5 TITLE
    3.6 404 PAGE
    3.7 LANGUAGE SWITCHER
    3.8 SEARCH FORM
    3.9 MENU ITEMS
    3.10 COMMENTS
  4.0 SCROLL TO TOP
  5.0 FOOTER
=======================================================*/


body.frontend,
body.page-template,
.block-editor .editor-styles-wrapper {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--main_backgroundImg, none);

  /*==================================================================================
  1.0 GENERAL
  ==================================================================================*/
  .container,
  .is-style-container,
  .is-style-content-container > .wp-block-group__inner-container,
  .is-style-content-container > .wp-block-cover__inner-container,
  .wide-container,
  .is-style-wide-container,
  .is-style-content-wide-container > .wp-block-group__inner-container,
  .is-style-content-wide-container > .wp-block-cover__inner-container {
    max-width: var(--container__width, 1000px);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container__side, 20px);
    padding-right: var(--container__side, 20px);
    width: 100%;
  }
  .wide-container,
  .is-style-wide-container,
  .is-style-content-wide-container > .wp-block-group__inner-container,
  .is-style-content-wide-container > .wp-block-cover__inner-container,
  .is-style-content-wide-container > .wp-block-cover__inner-container .wp-block {
    max-width: var(--wideWidth, 1400px);
  }
  .wp-block-cover.is-style-content-wide-container.is-position-bottom-left > .wp-block-cover__inner-container,
  .wp-block-cover.is-style-content-wide-container.is-position-top-left > .wp-block-cover__inner-container,
  .wp-block-cover.is-style-content-wide-container.is-position-bottom-right > .wp-block-cover__inner-container,
  .wp-block-cover.is-style-content-wide-container.is-position-top-right > .wp-block-cover__inner-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .wp-block-cover.is-style-content-wide-container.is-position-bottom-right > .wp-block-cover__inner-container,
  .wp-block-cover.is-style-content-wide-container.is-position-top-right > .wp-block-cover__inner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .wp-block-cover.is-style-content-container,
  .wp-block-cover-image.is-style-content-container {
    padding: 0;
  }
  > header,
  > main,
  > footer {
    width: 100%;
  }

  .before-container,
  .after-container {
    width: 100%;
    max-width: var(--container_spacing, 20px);
    min-width: fit-content;
    &:empty {
      padding: 0;
    }
  }
  .before-container {
    padding-left: var(--container__side, 20px);
  }
  .after-container {
    direction: rtl;
    padding-right: var(--container__side, 20px);
  }

  &.header-is-wide header,
  &.footer-is-wide footer {
    --container_spacing: calc(50% - var(--container__side, 20px) - (var(--wideWidth, 1400px) / 2) - var(--wide__left,200px));
    --container__width: var(--wideWidth);
    .container {
      max-width: var(--wideWidth, 1400px);
    }
  }

  .post-thumb {
    height: var(--thumbnail__height, auto);
    margin-top: var(--thumbnail__marginTop, 0);
    margin-bottom: var(--thumbnail__marginBottom, 0);
    video {
      width: 100%;
      height: auto;
    }
  }
  div.post-thumb {
    min-width: 100%;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: center;
  }



  /*==================================================================================
  2.0 HEADER
  ==================================================================================*/
  .show-on-scrolled {
    display: none;
  }
  &.scrolled {
    > header {
      top: calc(var(--header__negativTopPosition_sticky, 0px) * -1);
      nav {
        .before-container,
        .header-container,
        .after-container {
          padding-top: var(--header__paddingTop_sticky, var(--header__paddingTop, 10px));
          padding-bottom: var(--header__paddingBottom_sticky, var(--header__paddingBottom, 10px));
        }
        .logo {
          img {
            &.hide-on-scrolled {
              display: none;
            }
          }
        }
      }
    }
    .show-on-scrolled {
      display: initial;
    }
  }
  > header {
    transition: .7s;
    position: relative;
    nav {
      display: flex;
      justify-content: space-between;
      .before-container,
      .header-container,
      .after-container {
        padding-top: var(--header__paddingTop, 10px);
        padding-bottom: var(--header__paddingBottom, 10px);
      }
      .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--header__itemSpacingHorizontal, 40px);
        row-gap: var(--header__itemSpacingVertical, 0);
        &.wrap {
          flex-wrap: wrap;
        }
        > *:last-child:not(:first-child) {
          text-align: right;
        }
      }
      .logo {
        &.text_logo {
          text-decoration: none;
        }
        img {
          &:not([width]) {
            &:not([height]) {
              object-fit: contain;
            }
          }
        }
      }
      #menu-main-container {
        transition: .7s;
        &.horizontal {
          > ul#menu_main {
            flex-direction: row;
            align-items: flex-start;
          }
        }
        &.vertical {
          > ul {
            flex-direction: column;
          }
        }
        > ul#menu_main {
          display: flex;
          flex-wrap: wrap;
          // flex-direction: var(--mnav__ul_flexDirection, row);
          list-style: none;
          margin: 0;
          padding: 0;
          transition: .7s;
          gap: var(--mnav__ul_gap, 0px);
          row-gap: var(--mnav__ul_gap, 0px);
          > li {
            > a {
              padding: var(--mnav__padding, 0);
              margin: var(--mnav__margin, 0);
              border-width: var(--mnav__border_width, 0);
            }
            > ul {
              display: flex;
              flex-wrap: wrap;
              justify-content: stretch;
              align-items: stretch;
              flex-direction: var(--mnav__sub_flexDirection, column);
              gap: var(--mnav__sub_gap, var(--mnav__ul_gap, 0px));
              row-gap: var(--mnav__sub_gap, var(--mnav__ul_gap, 0px));
              > li {
                > a {
                  padding: var(--mnav__sub_padding, 0);
                  margin: var(--mnav__sub_margin, 0);
                  border-width: var(--mnav__sub_border_width, 0);
                }
                > ul {
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: stretch;
                  align-items: stretch;
                  flex-direction: var(--mnav__subSub_flexDirection, column);
                  gap: var(--mnav__subSub_gap, var(--mnav__ul_gap, 0px));
                  row-gap: var(--mnav__subSub_gap, var(--mnav__ul_gap, 0px));
                  > li {
                    > a {
                      padding: var(--mnav__subSub_padding, 0);
                      margin: var(--mnav__subSub_margin, 0);
                      border-width: var(--mnav__subSub_border_width, 0);
                    }
                    > ul {
                      display: flex;
                      flex-wrap: wrap;
                      justify-content: stretch;
                      align-items: stretch;
                      flex-direction: var(--mnav__subSubSub_flexDirection, column);
                      gap: var(--mnav__subSubSub_gap, var(--mnav__ul_gap, 0px));
                      row-gap: var(--mnav__subSubSub_gap, var(--mnav__ul_gap, 0px));
                      > li {
                        > a {
                          padding: var(--mnav__subSubSub_padding, 0);
                          margin: var(--mnav__subSubSub_margin, 0);
                          border-width: var(--mnav__subSubSub_border_width, 0);
                        }
                      }
                    }
                  }
                }
              }
            }
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
            }
          }
          a {
            text-decoration: none;
            display: block;
            border-style: solid;
          }
        }
      }
      .widget {
        p:empty {
          display: none;
        }
      }
    }
    > hr.divider {
      max-width: var(--container_content, 1000px);
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      opacity: .5;
      transition: .7s;
    }
  }



  /*==================================================================================
  3.0 MAIN
  ==================================================================================*/

  /* 3.1 SPACING
  /––––––––––––––––––––––––*/
  > header .widget,
  > main section,
  > main article,
  > main .wp-block-container,
  > main .wp-block-group__inner-container,
  > main .wp-block-cover__inner-container,
  > main .wp-block-media-text__content,
  > main .consent-request-container,
  > footer .widget {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > p,
    > ol,
    > ul,
    > figure,
    > blockquote,
    > .wp-block-button,
    > .wp-block-cover,
    > .wp-block-file,
    > .wp-block-buttons,
    > .wp-block-columns,
    > .wp-block-columns .wp-block-column p,
    > .wp-block-columns .wp-block-column ol,
    > .wp-block-columns .wp-block-column ul,
    > .wp-block-columns .wp-block-column img,
    > .wp-block-columns .wp-block-column figure,
    > .wp-block-columns .wp-block-column .wp-block-cover,
    > .wp-block-media-text p,
    > .post-password-form p,
    > .block-vimeo,
    > .wp-block-media-text,
    > .block-accordion,
    > .block-accordion .accordion-content p,
    > .block-accordion .accordion-content ol,
    > .block-accordion .accordion-content ul,
    > .block-accordion .accordion-content img,
    > .block-accordion .accordion-content figure,
    > .block-posts,
    > .block-postsfilter,
    > .search-form,
    > .wp-block-search,
    > .wp-block-gallery-container,
    > .wpcf7 .wpcf7-form p {
      margin-top: 0;
      margin-bottom: var(--content__space, 30px);
      &:last-child {
        margin-bottom: 0;
      }
      &.no-spacing {
        margin-bottom: 0;
      }
      &.spacing-one:not(.no-spacing):not(:last-child) {
        margin-bottom: var(--content__space_one, var(--content__space, 30px));
      }
      &.spacing-two:not(.no-spacing):not(:last-child) {
        margin-bottom: var(--content__space_two, var(--content__space, 30px));
      }
    }
  }
  > main {
    margin: 0;
    section,
    article {
      & > p,
      & > ol,
      & > ul,
      & > figure,
      & > blockquote,
      & > .wp-block-button,
      & > .wp-block-cover,
      & > .wp-block-file,
      & > .wp-block-buttons,
      & > .wp-block-columns,
      & > .wp-block-media-text,
      & > .wp-block-media-text p,
      & > .post-password-form p,
      & > .block-accordion,
      & > .block-vimeo,
      & > .block-posts,
      & > .block-postsfilter,
      & > .search-form,
      & > .wp-block-search,
      & > .wp-block-gallery-container,
      & > .wpcf7 .wpcf7-form p {
        &:last-child {
          &:not(.has-background.alignfull){
            &:not(.wp-block-cover.alignfull){
              margin-bottom: var(--content__space_last, 0);
            }
          }
        }
      }
    }
    p, figure {
      margin-bottom: 0;
    }
  }

  main {
    > section {
      margin-top: var(--mainSection__marginTop, 0);
      margin-bottom: var(--mainSection__marginBottom, 0);
      padding-top: var(--mainSection__paddingTop, 0);
      padding-bottom: var(--mainSection__paddingBottom, 0);
    }
  }

  .block-editor-block-list__layout {
    .wp-block {
      margin-top: 0;
      margin-bottom: var(--content__space, 30px);
      &[data-spacingone="true"] {
        margin-bottom: 0;
      }
      &[data-spacingone="true"] {
        margin-bottom: var(--content__space_one, var(--content__space, 30px));
      }
      &[data-spacingtwo="true"] {
        margin-bottom: var(--content__space_two, var(--content__space, 30px));
      }
      &:last-child {
        &:not(.has-background.alignfull){
          &:not(.wp-block-cover.alignfull){
            margin-bottom: var(--content__space_last, 0);
          }
        }
      }
    }
  }


  /* 3.2 BLOG & SEARCH
  /––––––––––––––––––––––––*/
  #search-results,
  #home,
  #archive,
  .block-posts,
  .block-postsfilter {
    article {
      &.flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        > div:first-child {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .entry-content {
            flex-grow: 1;
          }
        }
        > div.gb-block,
        > img,
        > figure {
          margin: 0;
          .alignwide,
          .alignfull {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            max-width: 100%;
          }
          video {
            width: 100%;
            height: auto;
          }
        }
      }
      .post-meta {}
      .list-category {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
  #search-results {
    .results {
      + .pagination {
        margin: var(--search__pagination_margin, var(--blog__pagination_margin, 20px 0 0));
      }
      article {
        margin: var(--search__article_margin, var(--blog__article_margin, 40px));
        padding: var(--search__article_padding, var(--blog__article_padding, 0));
        border-style: solid;
        border-width: var(--search__article_border, var(--blog__article_border, 0));
        &.flex {
          flex-direction: var(--search__article_flexDirection, var(--blog__article_flexDirection, row));
          gap: var(--search__article_flexGap, var(--blog__article_flexGap, var(--wp--style--block-gap, var(--content__space, 30px))));
          row-gap: var(--search__article_flexGap, var(--blog__article_flexGap, var(--wp--style--block-gap, var(--content__space, 30px))));
          > div:first-child {
            width: var(--search__article_flexDivWidth, var(--blog__article_flexDivWidth, 60%));
            flex-basis: var(--search__article_flexDivWidth, var(--blog__article_flexDivWidth, 60%));
          }
          > div.gb-block,
          > img,
          > figure {
            width: var(--search__article_flexMediaWidth, var(--blog__article_flexMediaWidth, 40%));
            flex-basis: var(--search__article_flexMediaWidth, var(--blog__article_flexMediaWidth, 40%));
          }
        }
        h2:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']) {
          margin: var(--search__article_title_margin, var(--blog__article_title_margin, 0));
          padding: var(--search__article_title_padding, var(--blog__article_title_padding, 0));
          border-width: var(--search__article_title_borderWidth, var(--blog__article_title_borderWidth, 0));
          border-style: var(--search__article_title_borderStyle, var(--blog__article_title_borderStyle, solid));
        }
      }
    }
  }
  #home,
  #archive {
    margin-top: var(--blog__marginTop, 0);
    margin-bottom: var(--blog__marginBottom, 0);
    padding-top: var(--blog__paddingTop, 0);
    padding-bottom: var(--blog__paddingBottom, 0);
  }
  #home,
  #archive,
  .block-posts,
  .block-postsfilter {
    > div {
      + .pagination {
        margin: var(--blog__pagination_margin, 20px 0 0);
      }
      article {
        margin: var(--blog__article_margin, 40px);
        padding: var(--blog__article_padding, 0);
        border-style: solid;
        border-width: var(--blog__article_border, 0);
        &.flex {
          flex-direction: var(--blog__article_flexDirection, row);
          gap: var(--blog__article_flexGap, var(--wp--style--block-gap, var(--content__space, 30px)));
          row-gap: var(--blog__article_flexGap, var(--wp--style--block-gap, var(--content__space, 30px)));
          > div:first-child {
            width: var(--blog__article_flexDivWidth, 60%);
            flex-basis: var(--blog__article_flexDivWidth, 60%);
          }
          > div.gb-block,
          > img,
          > figure {
            width: var(--blog__article_flexMediaWidth, 40%);
            flex-basis: var(--blog__article_flexMediaWidth, 40%);
          }
        }
        h2:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']) {
          margin: var(--blog__article_title_margin, 0);
          padding: var(--blog__article_title_padding, 0);
          border-width: var(--blog__article_title_borderWidth, 0);
          border-style: var(--blog__article_title_borderStyle, solid);
        }
      }
    }
  }



  /* 3.3 MENU STYLING OPTIONS
  /––––––––––––––––––––––––*/
  .wp-menu {
    margin: 0;
    padding: 0;
    &.horizontal {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &.menu-seperated {
      li {
        display: flex;
        flex-wrap: nowrap;
        &:last-child {
          &::after {
            display: none;
          }
        }
        &:after {
          display: inline-block;
          content: " | ";
          margin: 0 3px;
        }
      }
    }
  }


  /* 3.4 BREADCRUMBS
  /––––––––––––––––––––––––*/
  .breadcrumbs {
    width: 100%;
    padding: var(--bc__padding, 20px 0);
    margin: var(--bc__margin, 0);
  }


  /* 3.5 TITLE
  /––––––––––––––––––––––––*/
  h1 {
    &:not(.post-title):not(.wp-block-post-title):not([class^='is-style-']):not([class*=' is-style-']),
    &.is-style-default {
      &:not(:first-child){
        margin-top: var(--h1__marginTop, 0);
      }
      &:not(:last-child):not(.spacing-one):not(.spacing-two){
        margin-bottom: var(--h1__marginBottom, var(--content__space, 30px));
      }
      padding: var(--h1__padding, 0);
      border-style: var(--h1__borderStyle, solid);
      border-width: var(--h1__borderWidth, 0);
      border-radius: var(--h1__borderRadius, 0);
    }
  }
  h2 {
    &:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']),
    &.is-style-default {
      &:not(:first-child){
        margin-top: var(--h2__marginTop, 0);
      }
      &:not(:last-child):not(.spacing-one):not(.spacing-two){
        margin-bottom: var(--h2__marginBottom, var(--content__space, 30px));
      }
      padding: var(--h2__padding, 0);
      border-style: var(--h2__borderStyle, solid);
      border-width: var(--h2__borderWidth, 0);
      border-radius: var(--h2__borderRadius, 0);
    }
  }
  h3 {
    &:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']),
    &.is-style-default {
      &:not(:first-child){
        margin-top: var(--h3__marginTop, 0);
      }
      &:not(:last-child):not(.spacing-one):not(.spacing-two){
        margin-bottom: var(--h3__marginBottom, var(--content__space, 30px));
      }
      padding: var(--h3__padding, 0);
      border-style: var(--h3__borderStyle, solid);
      border-width: var(--h3__borderWidth, 0);
      border-radius: var(--h3__borderRadius, 0);
    }
  }
  h4 {
    &:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']),
    &.is-style-default {
      &:not(:first-child){
        margin-top: var(--h4__marginTop, 0);
      }
      &:not(:last-child):not(.spacing-one):not(.spacing-two){
        margin-bottom: var(--h4__marginBottom, var(--content__space, 30px));
      }
      padding: var(--h4__padding, 0);
      border-style: var(--h4__borderStyle, solid);
      border-width: var(--h4__borderWidth, 0);
      border-radius: var(--h4__borderRadius, 0);
    }
  }
  h5 {
    &:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']),
    &.is-style-default {
      &:not(:first-child){
        margin-top: var(--h5__marginTop, 0);
      }
      &:not(:last-child):not(.spacing-one):not(.spacing-two){
        margin-bottom: var(--h5__marginBottom, var(--content__space, 30px));
      }
      padding: var(--h5__padding, 0);
      border-style: var(--h5__borderStyle, solid);
      border-width: var(--h5__borderWidth, 0);
      border-radius: var(--h5__borderRadius, 0);
    }
  }
  h6 {
    &:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']),
    &.is-style-default {
      &:not(:first-child){
        margin-top: var(--h6__marginTop, 0);
      }
      &:not(:last-child):not(.spacing-one):not(.spacing-two){
        margin-bottom: var(--h6__marginBottom, var(--content__space, 30px));
      }
      padding: var(--h6__padding, 0);
      border-style: var(--h6__borderStyle, solid);
      border-width: var(--h6__borderWidth, 0);
      border-radius: var(--h6__borderRadius, 0);
    }
  }
  .post-title,
  .wp-block-post-title,
  .is-style-post-title {
    margin: var(--postTitle__margin, 0);
    margin-left: auto;
    margin-right: auto;
    padding: var(--postTitle__padding, 0);
    border-style: var(--postTitle__borderStyle, solid);
    border-width: var(--postTitle__borderWidth, 0);
  }


  /* 3.6 404 PAGE
  /––––––––––––––––––––––––*/
  #error-page {
    article {
      margin: var(--error__margin, 0);
      padding: var(--error__padding, 0);
      h1.post-title {
        margin: var(--error__title_margin, var(--postTitle__margin, 0));
        margin-left: auto;
        margin-right: auto;
        padding: var(--error__title_padding, var(--postTitle__padding, 0));
      }
    }
  }


  /* 3.7 LANGUAGE SWITCHER
  /––––––––––––––––––––––––*/
  .language-switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        display: block;
        margin: var(--ls__link_margin, 0);
        padding: var(--ls__link_padding, 0);
      }
    }
  }


  /* 3.8 SEARCH FORM
  /––––––––––––––––––––––––*/
  .wp-block-search,
  .search-form {
    input[type="text"],
    input[type="search"] {
      width: 100%;
      margin: var(--searchForm__margin, 0);
      padding: var(--searchForm__padding, var(--input__padding, 7px 10px));
      border-radius: var(--searchForm__borderRadius, var(--input__borderRadius, 0));
      border-style: solid;
      border-width: var(--searchForm__border_width, var(--input__border_width, 1px));
    }
    input[type="submit"],
    button[type="submit"] {
      margin: var(--searchForm__submit_margin, 0);
      border-radius: var(--searchForm__submit_borderRadius, var(--input__submit_borderRadius, 0));
      border-style: solid;
      border-width: var(--searchForm__submit_borderWidth, var(--input__submit_borderWidth, var(--input__border_width, 1px)));
      padding: var(--searchForm__submit_padding, var(--input__submit_padding, 10px 20px));
      appearance: none;
      cursor: pointer;
    }
  }


  /* 3.9 MENU ITEMS
  /––––––––––––––––––––––––*/
  .menu-item {
    &:not([class^='svg-animate-']):not([class*=' svg-animate-']) {
      a {
        &:hover {
          .icon {
            &.position-behind:not([class^='svg-animate-']):not([class*=' svg-animate-']) {
              opacity: var(--menuItem__svg_positionBehind_opacity_hover, 1);
              transition: .3s;
            }
          }
        }
        .icon {
          &.position-behind {
            opacity: var(--menuItem__svg_positionBehind_opacity, 0);
            transition: .3s;
          }
        }
      }
    }
    a {
      position: relative;
      z-index: 1;
      &:hover {
        + .description.position-hover {
          opacity: 1;
          transition: .3s;
          pointer-events: auto;
        }
      }
      .icon {
        &.position-left {
          display: inline-block;
          width: var(--menuItem__svg_positionLeft_width, auto);
          border-radius: var(--menuItem__svg_positionLeft_borderRadius, 0);
          border-width: var(--menuItem__svg_positionLeft_borderWidth, 0);
          border-style: var(--menuItem__svg_positionLeft_borderStyle, solid);
          margin: var(--menuItem__svg_positionLeft_margin, 0 10px 0 0);
          padding: var(--menuItem__svg_positionLeft_padding, 0);
        }
        &.position-behind {
          position: absolute;
          z-index: -1;
          display: block;
          width: 100%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        svg {
          width: 100%;
          height: auto;
        }
      }
    }
    .description {
      display: block;
      border-radius: var(--menuItem__description_borderRadius, 0);
      border-width: var(--menuItem__description_borderWidth, 0);
      border-style: var(--menuItem__description_borderStyle);
      margin: var(--menuItem__description_margin, 0);
      padding: var(--menuItem__description_padding, 0);
      pointer-events: none;
      &.position-hover {
        position: absolute;
        opacity: 0;
        transition: .3s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }


  /* 3.10 COMMENTS
  /––––––––––––––––––––––––*/
  #comments {
    border-radius: var(--comments__borderRadius, 0);
    border-width: var(--comments__borderWidth, 0);
    border-style: var(--comments__borderStyle, solid);
    margin: var(--comments__margin, 0);
    padding: var(--comments__padding, 0);
    h3.comments-title {
      border-radius: var(--comments__title_borderRadius, 0);
      border-width: var(--comments__title_borderWidth, 32px);
      border-style: var(--comments__title_borderStyle, solid);
      margin: var(--comments__title_margin, 0);
      padding: var(--comments__title_padding, 0);
    }
    ol.commentlist {
      list-style: none;
      margin: var(--comments__commentlist_margin, 0 0 20px);
      padding: var(--comments__commentlist_padding, 0);
      li {
        border-width: var(--comments__commentlist_item_borderWidth, 0);
        border-style: var(--comments__commentlist_item_borderStyle, solid);
        margin: var(--comments__commentlist_item_margin, 0 0 5px);
        padding: var(--comments__commentlist_item_padding, 0);
      }
      ol.children {
        list-style: none;
        margin: var(--comments__commentlist_respond_margin, 0 0 10px 20px);
        padding: var(--comments__commentlist_respond_padding, 0);
        li {
          border-width: var(--comments__commentlist_respond_item_borderWidth, var(--comments__commentlist_item_borderWidth, 0));
          border-style: var(--comments__commentlist_respond_item_borderStyle, var(--comments__commentlist_item_borderStyle, solid));
          margin: var(--comments__commentlist_respond_item_margin, var(--comments__commentlist_item_margin, 0 0 5px));
          padding: var(--comments__commentlist_respond_item_padding, var(--comments__commentlist_item_padding, 0));
        }
      }
    }
    .avatar {
      display: var(--comments__avatar_display, inline);
      margin: var(--comments__avatar_margin, 0);
      width: var(--comments__avatar_width, 0);
      height: auto;
    }
    .comment-form-comment {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: var(--comments__form_flexDirection, row);
      align-items: flex-start;
      margin: var(--comments__form_margin, 20px 0 0);
      textarea {
        width: 100%;
      }
    }
  }



  /*==================================================================================
  4.0 SCROLL TO TOP
  ==================================================================================*/
  #scroll-to-top {
    width: 100%;
    margin-top: auto;
    + footer {
      margin-top: 0;
    }
    > div {
      padding-top: var(--scrollToTop__container_paddingTop, 10px);
      padding-bottom: var(--scrollToTop__container_paddingBottom, 10px);
    }
    span {
      display: inline-block;
      cursor: pointer;
      padding: var(--scrollToTop__Button_padding, 10px);
      border-style: solid;
      border-width: var(--scrollToTop__Button_borderWidth, 0);
      border-radius: var(--scrollToTop__Button_borderRadius, 0);
    }
  }


  /*==================================================================================
  5.0 FOOTER
  ==================================================================================*/
  > footer {
    display: flex;
    margin-top: auto;
    .before-container,
    .footer-container,
    .after-container {
      padding-top: var(--footer__paddingTop, 40px);
      padding-bottom: var(--footer__paddingBottom, 20px);
      > * {
        margin-bottom: var(--footer_itemSpacing, 20px);
      }
    }
    .footer-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      &.wrap {
        flex-wrap: wrap;
      }
      > *:last-child {
        &:not(:first-child) {
          text-align: right;
        }
      }
    }
    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        > li ul {
          margin-bottom: 10px;
        }
      }
    }
    address {
      display: flex;
      flex-direction: column;
      &:last-child:not(:first-child) {
        .location {
          justify-content: flex-end;
        }
      }
      .location {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }

}
