/**
 * Theme Pop Up
 *
 * @author      David Voglgsang
 *
*/

/* POPUP
/––––––––––––––––––––––––*/
.popup-noscroll {
  overflow: hidden;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--popup__backgoundColor, black);
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 1199;
  opacity: 1;
  pointer-events: auto;
  user-select: none;
  transition: .3s;
  &.closed {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: .3s;
  }
  .popup-next-preview,
  .popup-back-preview {
    position: absolute;
    width: var(--popup__width, 800px);
    line-height: 0;
    img {
      opacity: .4;
      width: 100%;
      height: auto;
      background-color: #fff;
    }
  }
  .popup-back-preview {
    left: calc(var(--popup_prev_visible, 30px) - var(--popup__width, 800px));
  }
  .popup-next-preview {
    right: calc(var(--popup_prev_visible, 30px) - var(--popup__width, 800px));
  }
  .popup-container {
    width: 100%;
    width: fit-content;
    max-width: var(--popup__width, 800px);
    min-width: 304px;
    margin: var(--popup__space, 40px);
    max-height: 100%;
    background-color: var(--popup__container_backgroundColor, white);
    &:not(.popup-preview) {
      position: relative;
      .close {
        right: calc((var(--popup__close_size, 25px) + 15px) * -1);
        top: calc((var(--popup__close_size, 25px) + 15px) * -1);
      }
    }
    &:hover {
      .arrow {
        opacity: 1;
      }
    }
    .popup-content {
      line-height: 0;
      min-width: 400px;
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: calc(100vh - 100px);
      }
      figure {
        margin: 0;
        figcaption {
          display: var(--popup__figcaption_display, none);
          background-color: var(--popup__figcaption_backgroundColor, transparent);
          color: var(--popup__figcaption_color, inherit);
          text-align: var(--popup__figcaption_textAlign, center);
          font-size: var(--popup__figcaption_fontSize, 100%);
          line-height: var(--popup__figcaption_lineHeight, 1);
          padding: var(--popup__figcaption_padding, 0);
          margin: 0;
        }
        .download-button {
          display: var(--popup__downloadLink_display, none)!important;
          color: var(--popup__downloadLink_color, initial);
          font-size: var(--popup__downloadLink_fontSize, 100%);
          line-height: var(--popup__downloadLink_lineHeight, 1);
          padding: var(--popup__downloadLink_padding, 0);
          margin: 0;
          &:hover {
            color: var(--popup__downloadLink_color_hover, initial);
          }
        }
      }
    }
    .close {
      color: transparent;
      display: flex;
      width: var(--popup__close_size, 25px);
      height: var(--popup__close_size, 25px);
      text-align: center;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      position: absolute;
      z-index: 231;
      right: 20px;
      top: 20px;
      svg {
        width: 100%;
        height: 100%;
        fill: var(--popup__close_color, white);
        opacity: var(--popup__close_opacity, 1);
      }
    }
  }
}


/* POPUP NAVIGATION ARROWS
/––––––––––––––––––––––––*/
.popup .arrow {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 2;
  top: calc((100% - var(--popup__arrow_height, 70px)) / 2);
  border: solid transparent;
  border-width: var(--popup__arrow_borderWidth, 5px 10px);
  border-color: var(--popup__arrow_borderColor, transparent);
  background-color: var(--popup__arrow_backgroundColor, transparent);
  transition: .3s;
  opacity: 0;
  padding: var(--popup__arrow_padding, 0);
  line-height: 0;
  &.back {
    left: 20px;
  }
  &.next {
    transform: rotate(180deg);
    right: 20px;
  }
  &.hidden {
    opacity: 0;
  }
  svg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: var(--popup__arrow_height, 70px);
    fill: var(--popup__arrow_color, black);
    opacity: var(--popup__arrow_opacity, .6);
  }
}


/* POPUP IMAGE
/––––––––––––––––––––––––*/
.add-popup {
  &.wp-block-image img,
  &.wp-block-gallery figure img,
  &.block-posts ul li > figure {
    cursor: pointer;
  }
}
