/**
 * Theme structure
 * Contains everything that is not related to the content itself like
 * header, footer and main navigations
 *
 * @author      David Voglgsang
 *
*/



/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 GENERAL
  2.0 HEADER
  3.0 MAIN
    3.1 SPACING
    3.2 BLOG & SEARCH
  4.0 SCROLL TO TOP
  5.0 FOOTER
=======================================================*/


body.frontend,
.block-editor .editor-styles-wrapper {

  /*==================================================================================
  1.0 GENERAL
  ==================================================================================*/
  .container,
  .is-style-container,
  .is-style-content-container > .wp-block-group__inner-container,
  .is-style-content-container > .wp-block-cover__inner-container {
    max-width: var(--container__width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container__side);
    padding-right: var(--container__side);
    width: 100%;
  }
  .wp-block-cover.is-style-content-container,
  .wp-block-cover-image.is-style-content-container {
    padding: 0;
  }
  > header,
  > main,
  > footer {
    width: 100%;
  }

  .before-container,
  .after-container {
    width: 100%;
    max-width: var(--container_spacing);
    min-width: fit-content;
    &:empty {
      padding: 0;
    }
  }
  .before-container {
    padding-left: var(--container__side);
  }
  .after-container {
    direction: rtl;
    padding-right: var(--container__side);
  }



  /*==================================================================================
  2.0 HEADER
  ==================================================================================*/
  > header {
    transition: .7s;
    nav {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > * {
          margin-right: 40px;
          &:last-child {
            margin-right: 0;
          }
        }
        > *:last-child {
          text-align: right;
        }
      }
      .logo {
        &.text_logo {
          text-decoration: none;
        }
        img {
          &:not([width]) {
            &:not([height]) {
              object-fit: contain;
            }
          }
        }
      }
      #menu-main-container {
        transition: .7s;
        &.horizontal {
          > ul {
            flex-direction: row;
            align-items: center;
          }
        }
        &.vertical {
          > ul {
            flex-direction: column;
          }
        }
        > ul#menu_main {
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          transition: .7s;
          > li {
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              > li {
                margin: 10px 0;
              }
            }
          }
          a {
            text-decoration: none;
          }
        }
      }
    }
    > hr.divider {
      max-width: var(--container_content);
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      opacity: .5;
      transition: .7s;
    }
  }



  /*==================================================================================
  3.0 MAIN
  ==================================================================================*/

  /* 3.1 SPACING
  /––––––––––––––––––––––––*/
  > main {
    margin: 0;
    section,
    article,
    .wp-block-container,
    .wp-block-group__inner-container,
    .wp-block-cover__inner-container {
      & > p,
      & > ol,
      & > ul,
      & > figure,
      & > blockquote,
      & > .wp-block-button,
      & > .wp-block-cover,
      & > .wp-block-file,
      & > .wp-block-columns,
      & > .wp-block-columns .wp-block-column p,
      & > .wp-block-columns .wp-block-column ol,
      & > .wp-block-columns .wp-block-column ul,
      & > .wp-block-columns .wp-block-column img,
      & > .wp-block-columns .wp-block-column figure,
      & > .wp-block-media-text p,
      & > .post-password-form p,
      & > .block-accordion,
      & > .block-accordion .accordion-content p,
      & > .block-accordion .accordion-content ol,
      & > .block-accordion .accordion-content ul,
      & > .block-accordion .accordion-content img,
      & > .block-accordion .accordion-content figure,
      & > .block-posts,
      & > #search-form {
        margin-bottom: var(--content__space);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    h1, h2, h3, h4, h5, h6, p, figure {
      margin-bottom: 0;
    }
  }


  /* 3.2 BLOG & SEARCH
  /––––––––––––––––––––––––*/
  #search-results,
  #home,
  #archive {
    margin-top: 20px;
    article {
      &.flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: calc(60% - 20px);
          margin-right: 20px;
          .entry-content {
            flex-grow: 1;
          }
        }
        > img,
        > figure {
          width: 40%;
          margin: 0;
          line-height: 0,
        }
      }
      + article {
        margin-top: 40px;
      }
      .post-meta {}
      .list-category {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }


  /*==================================================================================
  4.0 SCROLL TO TOP
  ==================================================================================*/
  #scroll-to-top {
    width: 100%;
    span {
      cursor: pointer;
    }
  }


  /*==================================================================================
  5.0 FOOTER
  ==================================================================================*/
  > footer {
    display: flex;
    margin-top: auto;
    .footer-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      > * {
        margin-bottom: 20px;
      }
      > *:last-child {
        text-align: right;
      }
    }
    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        > li ul {
          margin-bottom: 10px;
        }
      }
    }
    address {
      display: flex;
      flex-direction: column;
      &:last-child {
        .location {
          justify-content: flex-end;
        }
      }
      .location {
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }

}
