/*
 * Default font stylings
 * Add only
 *
 * @author      David Voglgsang
 *
*/


/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 HEADER
  2.0 MAIN
    2.1 BREADCRUMBS
    2.2 SEARCH RESULTS
    2.3 RESET LINE-HEIGHT
    2.4 POST TITLE
    2.5 404 PAGE
  3.0 FOOTER
  4.0 GENERAL
  5.0 BLOCKS
    5.1 ACCORDION
    5.2 BUTTONS
    5.3 TABLES
=======================================================*/



body.frontend,
.block-editor .editor-styles-wrapper {

  /*==================================================================================
    1.0 HEADER
  ==================================================================================*/

  > header {
    nav {
      .logo {
        line-height: 0;
        &.text_logo {
          font-size: 150%;
          font-weight: 700;
          line-height: 1.2s;
        }
      }
      #menu-main-container {
        font-family: var(--mnav__fontfamily, inherit);
        font-size: var(--mnav__fontsize, 100%);
        line-height: var(--mnav__lineheight, 1.4);
        font-weight: var(--mnav__fontWeight, 700);
        text-transform: var(--mnav__textTransform, uppercase);
        letter-spacing: var(--mnav__letterSpacing, 0);
        ul#menu_main {
          > li {
            > ul {
              > li {
                font-family: var(--mnav__sub_fontfamily, inherit);
                font-size: var(--mnav__sub_fontsize, 80%);
                line-height: var(--mnav__sub_lineheight, inherit);
                font-weight: var(--mnav__sub_fontWeight, 500);
                text-transform: var(--mnav__sub_textTransform, none);
                letter-spacing: var(--mnav__sub_letterSpacing, 0);
                > ul {
                  > li {
                    font-family: var(--mnav__subSub_fontfamily, var(--mnav__sub_fontfamily, inherit));
                    font-size: var(--mnav__subSub_fontsize, var(--mnav__sub_fontsize, 80%));
                    line-height: var(--mnav__subSub_lineheight, var(--mnav__sub_lineheight, inherit));
                    font-weight: var(--mnav__subSub_fontWeight, var(--mnav__sub_fontWeight, 500));
                    text-transform: var(--mnav__subSub_textTransform, var(--mnav__sub_textTransform, none));
                    letter-spacing: var(--mnav__subSub_letterSpacing, var(--mnav__sub_letterSpacing, 0));
                  }
                }
              }
            }
          }
        }
      }
      .hamburger-container {
        .menu-title {
          font-size: var(--hamburger__title_fontSize, inherit);
          line-height: var(--hamburger__title_LineHeight, inherit);
          font-weight: var(--hamburger__title_fontWeight, inherit);
        }
      }
    }
  }



  /*==================================================================================
    2.0 MAIN
  ==================================================================================*/

  /* 2.1 BREADCRUMBS
  /––––––––––––––––––––––––*/
  nav.breadcrumbs {
    font-family: var(--bc__fontfamily, inherit);
    font-size: var(--bc__fontsize, inherit);
    font-weight: var(--bc__fontWeight, inherit);
    line-height: var(--bc__lineheight, inherit);
    text-transform: var(--bc__textTransform, inherit);
  }


  /* 2.2 SEARCH RESULTS
  /––––––––––––––––––––––––*/
  #search-results {
    .results {
      article {
        h2 {
          font-family: var(--search__article_title_fontFamily, inherit);
          font-size: var(--search__article_title_fontSize, inherit);
          line-height: var(--search__article_title_lineHeight, inherit);
          font-weight: var(--search__article_title_fontWeight, inherit);
          text-transform: var(--search__article_title_textTransform, inherit);
        }
      }
    }
  }


  /* 2.3 RESET LINE-HEIGHT
  /––––––––––––––––––––––––*/
  .wp-block-image,
  #search-results .results article > figure,
  #home article > figure,
  .block-posts ul > li > figure,
  .block-posts ul > li > a > figure,
  .block-postsfilter .results > div > figure,
  .block-postsfilter .results > div > a > figure {
    line-height: 0;
  }


  /* 2.4 POST TITLE
  /––––––––––––––––––––––––*/
  .post-title {
    font-family: var(--postTitle__fontFamily, inherit);
    font-size: var(--postTitle__fontSize, inherit);
    line-height: var(--postTitle__lineHeight, inherit);
    font-weight: var(--postTitle__fontWeight, inherit);
    text-transform: var(--postTitle__textTransform, inherit);
    letter-spacing: var(--postTitle__letterSpacing, inherit);
  }


  /* 2.5 404 PAGE
  /––––––––––––––––––––––––*/
  #error-page {
    article {
      h1.post-title {
        font-family: var(--error__title_fontFamily, var(--postTitle__fontFamily, inherit));
        font-size: var(--error__title_fontSize, var(--postTitle__fontSize, inherit));
        line-height: var(--error__title_lineHeight, var(--postTitle__lineHeight, inherit));
        font-weight: var(--error__title_fontWeight, var(--postTitle__fontWeight, inherit));
        text-transform: var(--error__title_textTransform, var(--postTitle__textTransform, inherit));
        letter-spacing: var(--error__title_letterSpacing, var(--postTitle__letterSpacing, inherit));
      }
    }
  }



  /*==================================================================================
    3.0 FOOTER
  ==================================================================================*/

  > footer {
    .footer-container {
      font-size: var(--footer__fontsize, 10px);
      line-height: var(--footer__lineheight, 1.4);
    }
  }



  /*==================================================================================
    4.0 GENERAL
  ==================================================================================*/
  font-weight: var(--html__fontweight, 400);

  small {
    font-size: var(--html__fontsize_small, 70%);
  }

  sub, sup {
    font-size: var(--html__fontsize_subsup, 80%);
  }

  // inputs
  input[type="text"],
  input[type="email"],
  textarea {
    &:not(.editor-post-title__input) {
      font-family: var(--input__fontFamily, inherit);
      font-size: var(--input__fontSize, inherit);
      line-height: var(--input__lineHeight, inherit);
      font-weight: var(--input__fontWeight, inherit);
    }
  }
  .select-container:after {
    text-align: center;
  }
  select {
    font-family: var(--input__select_fontFamily, var(--input__fontFamily, inherit));
    font-size: var(--input__select_fontSize, var(--input__fontSize, inherit));
    line-height: var(--input__select_lineHeight, var(--input__lineHeight, inherit));
    font-weight: var(--input__select_fontWeight, var(--input__fontWeight, inherit));
  }
  input[type="checkbox"],
  input[type="radio"] {
    + label,
    + .wpcf7-list-item-label {
      font-size: var(--input__checkbox_fontSize, var(--input__fontSize, inherit));
      line-height: var(--input__checkbox_lineHeight, var(--input__lineHeight, inherit));
      font-weight: var(--input__checkbox_fontWeight, var(--input__fontWeight, inherit));
    }
  }
  // submit
  button[type="submit"],
  input[type="submit"] {
    font-family: var(--input__submit_fontFamily, var(--input__fontFamily, inherit));
    font-size: var(--input__submit_fontSize, var(--input__fontSize, inherit));
    line-height: var(--input__submit_lineHeight, var(--input__lineHeight, inherit));
    font-weight: var(--input__submit_fontWeight, var(--input__fontWeight, inherit));
    text-transform: var(--input__submit_textTransform, uppercase);
    letter-spacing: var(--input__submit_letterSpacing, 0px);
  }
  // fieldset
  fieldset {
    legend {
      font-weight: bold;
    }
  }
  .textsearch {
    label {
      font-weight: bold;
    }
  }
  // placeholder
  input, select, textarea {
    &::-webkit-input-placeholder {
      font-family: var(--input__placeholder_fontFamily, inherit);
      font-size: var(--input__placeholder_fontSize, inherit);
      line-height: var(--input__placeholder_lineHeight, inherit);
      font-weight: var(--input__placeholder_fontWeight, inherit);
      text-transform: var(--input__placeholder_textTransform, inherit);
    }
    &::-moz-placeholder {
      font-family: var(--input__placeholder_fontFamily, inherit);
      font-size: var(--input__placeholder_fontSize, inherit);
      line-height: var(--input__placeholder_lineHeight, inherit);
      font-weight: var(--input__placeholder_fontWeight, inherit);
      text-transform: var(--input__placeholder_textTransform, inherit);
    }
    &:-ms-input-placeholder {
      font-family: var(--input__placeholder_fontFamily, inherit);
      font-size: var(--input__placeholder_fontSize, inherit);
      line-height: var(--input__placeholder_lineHeight, inherit);
      font-weight: var(--input__placeholder_fontWeight, inherit);
      text-transform: var(--input__placeholder_textTransform, inherit);
    }
    &:-moz-placeholder {
      font-family: var(--input__placeholder_fontFamily, inherit);
      font-size: var(--input__placeholder_fontSize, inherit);
      line-height: var(--input__placeholder_lineHeight, inherit);
      font-weight: var(--input__placeholder_fontWeight, inherit);
      text-transform: var(--input__placeholder_textTransform, inherit);
    }
  }



  /*==================================================================================
    5.0 BLOCKS
  ==================================================================================*/

  /* 5.1 ACCORDION
  /––––––––––––––––––––––––*/
  .block-accordion {
    .accordion-item {
      .accordion-label {
        font-family: var(--block__accordion_label_fontfamily, inherit);
        font-size: var(--block__accordion_label_fontsize, inherit);
        font-weight: var(--block__accordion_label_fontweight, inherit);
        line-height: var(--block__accordion_label_lineheight, inherit);
      }
      .accordion-content {
        font-size: var(--block__accordion_content_fontsize, inherit);
        line-height: var(--block__accordion_content_lineheight, inherit);
      }
    }
  }

  /* 5.2 BUTTONS
  /––––––––––––––––––––––––*/
  .wp-block-buttons {
    .wp-block-button {
      .wp-block-button__link {
        font-family: var(--block__buttons_fontFamily, inherit);
        font-size: var(--block__buttons_fontSize, inherit);
        font-weight: var(--block__buttons_fontWeight, inherit);
        line-height: var(--block__buttons_lineHeight, inherit);
        text-transform: var(--block__buttons_textTransform, inherit);
      }
    }
  }

  /* 5.3 TABLES
  /––––––––––––––––––––––––*/
  figure.wp-block-table {
    table {
      font-family: var(--block__table_fontFamily, inherit);
      font-size: var(--block__table_fontSize, inherit);
      line-height: var(--block__table_lineHeight, inherit);
      font-weight: var(--block__table_fontWeight, inherit);
      text-transform: var(--block__table_textTransform, none);
      letter-spacing: var(--block__table_letterSpacing, 0px);
      tr {
        th {
          font-family: var(--block__tableHead_fontFamily, inherit);
          font-size: var(--block__tableHead_fontSize, inherit);
          line-height: var(--block__tableHead_lineHeight, inherit);
          font-weight: var(--block__tableHead_fontWeight, inherit);
          text-transform: var(--block__tableHead_textTransform, none);
          letter-spacing: var(--block__tableHead_letterSpacing, 0px);
        }
      }
    }
  }

  /* 5.3 SEPARATORS
  /––––––––––––––––––––––––*/
  hr.wp-block-separator {
    &.is-style-dots {
      line-height: 1;
      &:before {
        font-size: var(--block__separatorDots_fontSize, inherit);
      }
    }
  }

  /* 5.4 POSTS
  /––––––––––––––––––––––––*/
  .block-posts {
    > ul {
      > li {
        > figure,
        > a > figure {
          line-height: 0;
        }
      }
    }
  }

  /* 5.5 IMAGE
  /––––––––––––––––––––––––*/
  .wp-block-image {
    figcaption {
      font-size: var(--block__imageFigcaption_fontSize, inherit);
      line-height: var(--block__imageFigcaption_lineHeight, inherit);
    }
  }


}
