/**
 * Theme blocks & block stylings
 *
 * @author      David Voglgsang
 *
*/


/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 BLOCKS
    1.1 SOCIAL MEDIA
    1.2 POSTS
    1.3 POSTS FILTER
    1.4 ACCORDION
  2.0 BLOCK STYLINGS
    2.1 TOGGLE
    2.2 COLUMNS
    2.3 FULL HIGHT
=======================================================*/



body.frontend,
.block-editor .editor-styles-wrapper {

  /*==================================================================================
    1.0 BLOCKS
  ==================================================================================*/

    /* 1.1 SOCIAL MEDIA
    /––––––––––––––––––––––––*/
    .socialmedia {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      li {
        margin: 0 2px;
        a {
          display: block;
          line-height: 0;
          svg {
            width: 20px;
          }
        }
        + li {
          margin-left: 10px;
        }
      }
    }


    /* 1.2 POSTS
    /––––––––––––––––––––––––*/
    div.block-posts {
      --columnSpacing: calc(var(--postColumns) - 1);
      --spaceFixer: calc(var(--postColumnsSpace) * var(--columnSpacing));
      --containerwidth: calc(100% - var(--spaceFixer));
      --childwidth: calc(var(--containerwidth) / var(--postColumns));
      &.gallery-grid {
        > ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, var(--childwidth));
          grid-gap: var(--postColumnsSpace);
          justify-content: space-between;
          align-content: flex-start;
        }
      }
      &.gallery-swiper {
        > ul {
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          li {
            flex: 0 0 var(--childwidth);
            flex-basis: var(--childwidth);
            width: var(--childwidth);
            max-width: var(--childwidth);
            margin-bottom: 0;
            margin-right: var(--postColumnsSpace);
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          figure {
            margin: 0;
          }
        }
      }
    }


    /* 1.3 POSTS FILTER
    /––––––––––––––––––––––––*/
    div.block-postsfilter {
      &.filter-left,
      &.filter-right {
        display: flex;
        flex-wrap: nowrap;
        .thefilter {
          margin-right: 40px;
        }
      }
      &.filter-right {
        flex-direction: row-reverse;
        .thefilter {
          margin-right: 0;
          margin-left: 40px;
        }
      }
      > div {
        &.grid,
        &.list {
          width: 100%;
          figure {
            margin: 0;
          }
        }
        &.grid {
          --columnSpacing: calc(var(--postColumns) - 1);
          --spaceFixer: calc(var(--postColumnsSpace) * var(--columnSpacing));
          --containerwidth: calc(100% - var(--spaceFixer));
          --childwidth: calc(var(--containerwidth) / var(--postColumns));
          display: grid;
          grid-template-columns: repeat(auto-fit, var(--childwidth));
          grid-gap: var(--postColumnsSpace);
          justify-content: space-between;
          align-content: flex-start;
          > .wide {
            grid-column: span var(--postColumns);
          }
        }
        &.loading {
          > div {
            opacity: .3;
            transition: .3s;
          }
        }
      }
      > form {
        &.thefilter {
          > * + * {
            margin-top: var(--content__space);
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li,
            .components-base-control__field {
              display: flex;
              flex-wrap: nowrap;
            }
          }
          fieldset {
            max-width: 100%;
            border: 0;
            padding: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            legend {
              margin-bottom: 5px;
            }
          }
          .textsearch {
            label {
              display: block;
              margin-bottom: 5px;
            }
          }
        }
      }
    }


    /* 1.4 ACCORDION
    /––––––––––––––––––––––––*/
    .block-accordion {
      .accordion-item {
        .accordion-label {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          padding: 20px 10px;
          position: relative;
          cursor: pointer;
          line-height: 1;
          &.active {
            .icon {
              &:after {
                transform: rotate(0deg);
                transition: .3s;
              }
            }
            + .accordion-content {
              padding: 20px 10px;
              height: auto;
              a {
                display: inline;
              }
            }
          }
          .icon {
            position: relative;
            border-radius: 4px;
            width: 30px;
            height: 30px;
            margin-left: 20px;
            &:before,
            &:after {
              position: absolute;
              display: block;
              content: "";
              width: 20px;
              height: 4px;
              border-radius: 1px;
            }
            &:before,
            &:after {
              left: calc(50% - 10px);
              top: calc(50% - 2px);
            }
            &:after {
              transform: rotate(90deg);
              transition: .3s;
            }
          }
        }
        .accordion-content {
          padding: 0;
          height: 0;
          overflow: hidden;
          transition: .3s;
          + .label {
            border-top: 1px solid;
          }
        }
      }
    }



  /*==================================================================================
    2.0 BLOCK STYLINGS
  ==================================================================================*/


    /* 2.2 COLUMNS
    /––––––––––––––––––––––––*/
    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .column {}
      .flex-placeholder {
        height: 0;
      }
    }


  /* 2.3 SOCIAL MEDIA
  /––––––––––––––––––––––––*/
  .socialmedia {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    li {
      margin: 0 2px;
      a {
        display: block;
        line-height: 0;
        svg {
          width: 20px;
        }
      }
      + li {
        margin-left: 10px;
      }
    }
  }


  /* 1.4 BLOCK STYLES
  /––––––––––––––––––––––––*/

  // GROUP
  .is-style-fullheight {
    .wp-block-group__inner-container {
      min-height: 100vh;
      height: 100vh;
    }
  }

}
