/**
 * Theme Pop Up
 *
 * @author      David Voglgsang
 *
*/

/* POPUP
/––––––––––––––––––––––––*/
.popup-noscroll {
  overflow: hidden;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--popup__backgoundColor, black);
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 1199;
  opacity: 1;
  pointer-events: auto;
  user-select: none;
  transition: .3s;
  &.closed {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: .3s;
    .popup-container {
      width: 0px;
      min-width: 0px;
      overflow: hidden;
      transition: .5s;
    }
  }
  .popup-next-preview,
  .popup-back-preview {
    position: absolute;
    width: var(--popup__width, 800px);
    line-height: 0;
    img {
      opacity: .4;
      width: 100%;
      height: auto;
      background-color: #fff;
    }
  }
  .popup-back-preview {
    left: calc(var(--popup_prev_visible, 30px) - var(--popup__width, 800px));
  }
  .popup-next-preview {
    right: calc(var(--popup_prev_visible, 30px) - var(--popup__width, 800px));
  }
  .popup-container {
    width: 100%;
    width: fit-content;
    max-width: var(--popup__width, 800px);
    min-width: 304px;
    margin: var(--popup__space, 40px);
    max-height: 100%;
    background-color: var(--popup__container_backgroundColor, white);
    transition: .3s;
    &:not(.popup-preview) {
      position: relative;
      .close {
        right: calc((var(--popup__close_size, 25px) + 15px) * -1);
        top: calc((var(--popup__close_size, 25px) + 15px) * -1);
      }
    }
    &:hover {
      .arrow {
        opacity: 1;
      }
    }
    .popup-content {
      display: flex;
      flex-direction: var(--popup__container_flexDirection, column);
      flex-wrap: wrap;
      line-height: 0;
      min-width: 400px;
      max-height: 100vh;
      overflow-y: auto;
      &.with-info {
        width: var(--popup__width, 800px);
        max-width: 100vw;
        figure {
          width: var(--popup__figure_width, 70%);
          flex-basis: var(--popup__figure_width, 70%);
        }
      }
      img {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: calc(100vh - 100px);
      }
      video {
        width: 100%;
        height: auto;
      }
      figure {
        width: 100%;
        margin: 0;
        figcaption {
          display: var(--popup__figcaption_display, none);
          background-color: var(--popup__figcaption_backgroundColor, transparent);
          color: var(--popup__figcaption_color, inherit);
          text-align: var(--popup__figcaption_textAlign, center);
          font-size: var(--popup__figcaption_fontSize, 100%);
          line-height: var(--popup__figcaption_lineHeight, 1);
          padding: var(--popup__figcaption_padding, 0);
          margin: 0;
        }
        .download-button {
          display: var(--popup__downloadLink_display, none)!important;
          color: var(--popup__downloadLink_color, initial);
          font-size: var(--popup__downloadLink_fontSize, 100%);
          line-height: var(--popup__downloadLink_lineHeight, 1);
          padding: var(--popup__downloadLink_padding, 0);
          margin: 0;
          &:hover {
            color: var(--popup__downloadLink_color_hover, initial);
          }
        }
      }
      .popup-info {
        display: flex;
        flex-direction: column;
        gap: var(--popup__info_gap, var(--content__space,30px));
        background-color: var(--popup__info_backgroundColor, transparent);
        width: var(--popup__info_width, 30%);
        flex-basis: var(--popup__info_width, 30%);
        max-width: 100%;
        color: var(--popup__info_color, inherit);
        font-size: var(--popup__info_fontSize, 100%);
        line-height: var(--popup__info_lineHeight, 1);
        text-align: var(--popup__info_textAlign, center);
        padding: var(--popup__info_padding, 0);
        &:empty {
          > * {
            opacity: 0;
            transition: .3s;
          }
        }
        > * {
          opacity: 1;
          transition: .3s;
        }
        h3:not(.post-title):not([class^=is-style-]):not([class*=' is-style-']) {
          border-color: var(--popup__info_title_borderColor, unset);
          color: var(--popup__info_title_color, inherit);
          background-color: var(--popup__info_title_bg, initial);
          margin: var(--popup__info_title_margin, 0);
          padding: var(--popup__info_title_padding, 0);
          border-style: var(--popup__info_title_borderStyle, solid);
          border-width: var(--popup__info_title_borderWidth, 0);
          border-radius: var(--popup__info_title_borderRadius, 0);
          font-family: var(--popup__info_title_fontFamily, inherit);
          font-size: var(--popup__info_title_fontSize, inherit);
          line-height: var(--popup__info_title_lineHeight, inherit);
          font-weight: var(--popup__info_title_fontWeight, inherit);
          text-transform: var(--popup__info_title_textTransform, inherit);
          font-style: var(--popup__info_title_fontStyle, initial);
          letter-spacing: var(--popup__info_title_letterSpacing, inherit);
        }
        .excerpt {
          flex-grow: 1;
        }
        .tax-group {
          h4:not(.post-title):not([class^=is-style-]):not([class*=' is-style-']) {
            border-color: var(--popup__info_taxtitle_borderColor, unset);
            color: var(--popup__info_taxtitle_color, inherit);
            background-color: var(--popup__info_taxtitle_bg, initial);
            margin: var(--popup__info_taxtitle_margin, 0);
            padding: var(--popup__info_taxtitle_padding, 0);
            border-style: var(--popup__info_taxtitle_borderStyle, solid);
            border-width: var(--popup__info_taxtitle_borderWidth, 0);
            border-radius: var(--popup__info_taxtitle_borderRadius, 0);
            font-family: var(--popup__info_taxtitle_fontFamily, inherit);
            font-size: var(--popup__info_taxtitle_fontSize, inherit);
            line-height: var(--popup__info_taxtitle_lineHeight, inherit);
            font-weight: var(--popup__info_taxtitle_fontWeight, inherit);
            text-transform: var(--popup__info_taxtitle_textTransform, inherit);
            font-style: var(--popup__info_taxtitle_fontStyle, initial);
            letter-spacing: var(--popup__info_taxtitle_letterSpacing, inherit);
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    .close {
      color: transparent;
      display: flex;
      width: var(--popup__close_size, 25px);
      height: var(--popup__close_size, 25px);
      text-align: center;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      position: absolute;
      z-index: 231;
      right: 20px;
      top: 20px;
      svg {
        width: 100%;
        height: 100%;
        fill: var(--popup__close_color, white);
        opacity: var(--popup__close_opacity, 1);
      }
    }
  }
}


/* POPUP NAVIGATION ARROWS
/––––––––––––––––––––––––*/
.popup .arrow {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 2;
  top: calc((100% - var(--popup__arrow_height, 70px)) / 2);
  border: solid transparent;
  border-width: var(--popup__arrow_borderWidth, 5px 10px);
  border-color: var(--popup__arrow_borderColor, transparent);
  background-color: var(--popup__arrow_backgroundColor, transparent);
  transition: .3s;
  opacity: 0;
  padding: var(--popup__arrow_padding, 0);
  line-height: 0;
  &.back {
    left: 20px;
  }
  &.next {
    transform: rotate(180deg);
    right: 20px;
  }
  &.hidden {
    opacity: 0;
  }
  svg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: var(--popup__arrow_height, 70px);
    fill: var(--popup__arrow_color, black);
    opacity: var(--popup__arrow_opacity, .6);
  }
}


/* POPUP IMAGE
/––––––––––––––––––––––––*/
.add-popup {
  &.wp-block-image img,
  &.wp-block-gallery figure img,
  &.block-posts ul li > figure {
    cursor: pointer;
  }
}
