/**
 * Theme blocks & block stylings
 *
 * @author      David Voglgsang
 *
*/


/*=======================================================
Table of Contents:
–––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  1.0 BLOCKS
    1.1 SOCIAL MEDIA
    1.2 POSTS
    1.3 POSTS FILTER
    1.4 ACCORDION
    1.5 GALLERY
    1.6 VIMEO
    1.7 COVER
    1.8 IMAGE WITH PINS
  2.0 BLOCK STYLES
    2.1 LIST
    2.2 HR
    2.3 BUTTONS
    2.4 FULL HEIGHT GROUP
    2.5 IMAGE
    2.6 GROUP
    2.7 COLUMNS
    2.8 QUOTE
    2.9 GALLERY
    2.10 VIDEO - VIDEO JS
    2.11 MEDIA & TEXT
    2.12 PARAGRAPH
    2.13 TITLE
  3.0 ADDITIONAL STYLINGS
    3.1 BACKEND HIGHLIGHTS
    3.2 COLUMNS
    3.3 BLOCK ARROWS
    3.4 CONSENT BLOCK
    3.5 COVER ZOOM ANIMATION
    3.6 DOWNLOAD ALL BUTTON
=======================================================*/



body.frontend,
body.page-template,
.editor-styles-wrapper {

  /*==================================================================================
    1.0 BLOCKS
  ==================================================================================*/

    /* 1.1 SOCIAL MEDIA
    /––––––––––––––––––––––––*/
    .socialmedia {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      li {
        margin: 0 2px;
        a {
          display: block;
          line-height: 0;
          svg {
            width: var(--sm__icon_width, 20px);
            height: auto;
          }
        }
        + li {
          margin-left: var(--sm__icon_space, 10px);
        }
      }
    }


    /* 1.2 POSTS
    /––––––––––––––––––––––––*/
    div.block-posts {
      --columnSpacing: calc(var(--postColumns) - 1);
      --spaceFixer: calc(var(--postColumnsSpace) * var(--columnSpacing));
      --containerwidth: calc(100% - var(--spaceFixer));
      --childwidth: calc(var(--containerwidth) / var(--postColumns));
      &.gallery-grid {
        > ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, var(--childwidth));
          grid-gap: var(--postColumnsSpace);
          // justify-content: space-between;
          align-content: flex-start;
          > li {
            article {
              > img {
                width: 100%;
                height: auto;
              }
            }
            .flex {
              flex-direction: column;
            }
          }
        }
      }
      .sort-options {
        label {
          cursor: pointer;
          .sort-arrow svg {
            transition: .3s;
          }
          &.z-a {
            .sort-arrow svg {
              transform: rotate(-180deg);
            }
          }
        }
      }
      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        &.loading {
          > li {
            opacity: .3;
            transition: .3s;
          }
        }
        > li {
          border-width: var(--block__posts_border, 0);
          border-style: solid;
          border-radius: var(--block__posts_borderRadius, 0);
          &.wide {
            grid-column: span var(--postColumns);
          }
          .alignwide,
          .alignfull {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
          }
          [data-load="content"] {
            cursor: pointer;
          }
          > a > figure,
          > figure {
            margin: var(--block__posts_thumb_margin, 0);
            padding: var(--block__posts_thumb_padding, 0);
            img,
            audio,
            video {
              max-width: 100%;
              width: 100%;
              height: auto;
            }
          }
          .post-content {
            padding: var(--block__posts_padding, 0);
            > h4:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']),
            .template h2:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']) {
              margin: var(--block__posts_title_margin, 0);
              padding: var(--block__posts_title_padding, 0);
              border-style: var(--block__posts_title_borderStyle, solid);
              border-width: var(--block__posts_title_borderWidth, 0);
            }
            article.flex {
              margin: 0;
              gap: var(--block__posts_flexGap, var(--blog__article_flexGap, var(--wp--style--block-gap, var(--content__space, 30px))));
              row-gap: var(--block__posts_flexGap, var(--blog__article_flexGap, var(--wp--style--block-gap, var(--content__space, 30px))));
              .attachment-post-thumbnail,
              .gb-block,
              > img {
                width: 100%;
              }
            }
          }
        }
      }
      .posts-target {
        .wp-block-group__inner-container.loading {
          min-height: 100px;
          &:before {
            top: 60px;
          }
          > * {
            opacity: .3;
            transition: .3s;
          }
        }
      }
    }


    /* 1.3 POSTS FILTER
    /––––––––––––––––––––––––*/
    div.block-postsfilter {
      --spaceBetween: 40px;
      &.filter-left,
      &.filter-right {
        display: flex;
        flex-wrap: nowrap;
        .thefilter {
          margin-right: var(--spaceBetween);
        }
      }
      &.filter-right {
        flex-direction: row-reverse;
        .thefilter {
          margin-right: 0;
          margin-left: var(--spaceBetween);
        }
      }
      > div.results {
        &.grid,
        &.list {
          width: 100%;
          figure {
            margin: 0;
            video {
              width: 100%;
              height: auto;
            }
          }
        }
        &.grid {
          --columnSpacing: calc(var(--postColumns) - 1);
          --spaceFixer: calc(var(--postColumnsSpace) * var(--columnSpacing));
          --containerwidth: calc(100% - var(--spaceFixer));
          --childwidth: calc(var(--containerwidth) / var(--postColumns));
          display: grid;
          grid-template-columns: repeat(auto-fit, var(--childwidth));
          grid-gap: var(--postColumnsSpace);
          // justify-content: space-between;
          align-content: flex-start;
          > .wide {
            grid-column: span var(--postColumns);
          }
          article {
            > img {
              width: 100%;
              height: auto;
            }
          }
          article.flex {
            flex-direction: column;
            margin: 0;
            .attachment-post-thumbnail,
            .gb-block,
            > img {
              width: 100%;
            }
          }
        }
        > div {
          border-width: var(--block__postsfilter_border, 0);
          border-style: solid;
          border-radius: var(--block__postsfilter_borderRadius, 0);
          overflow: hidden;
          > figure {
            margin: var(--block__postsfilter_thumb_margin, 0);
            padding: var(--block__postsfilter_thumb_padding, 0);
          }
          .post-content {
            padding: var(--block__postsfilter_padding, 0);
            > h4:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']),
            .template h2:not(.post-title):not([class^='is-style-']):not([class*=' is-style-']) {
              margin: var(--block__postsfilter_title_margin, 0);
              padding: var(--block__postsfilter_title_padding, 0);
              border-style: var(--block__postsfilter_title_borderStyle, solid);
              border-width: var(--block__postsfilter_title_borderWidth, 0);
            }
            .flex {
              gap: var(--block__postsfilter_flexGap, var(--blog__article_flexGap, var(--wp--style--block-gap, var(--content__space, 30px))));
              row-gap: var(--block__postsfilter_flexGap, var(--blog__article_flexGap, var(--wp--style--block-gap, var(--content__space, 30px))));
            }
          }
        }
        &.loading {
          > div {
            opacity: .3;
            transition: .3s;
          }
        }
      }
      > form {
        &.thefilter {
          > * + * {
            margin-top: var(--content__space, 30px);
          }
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li,
            .components-base-control__field {
              display: flex;
              flex-wrap: wrap;
              .subcategoreis {
                flex-basis: 100%;
                width: 100%;
                margin-left: 15px;
              }
            }
          }
          fieldset {
            max-width: 100%;
            border: 0;
            padding: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            legend {
              margin-bottom: 5px;
            }
          }
          .textsearch {
            label {
              display: block;
              margin-bottom: 5px;
            }
          }
        }
      }
    }


    /* 1.4 ACCORDION
    /––––––––––––––––––––––––*/
    .block-accordion {
      .accordion-item {
        + .accordion-item {
          margin-top: var(--block__accordion_separator, 20px);
        }
        .accordion-label {
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          padding: var(--block__accordion_label_spacing, 20px 10px);
          position: relative;
          cursor: pointer;
          line-height: 1;
          &:not(.active){
            + .accordion-content {
              .is-style-default {
                li:before {
                  opacity: 0;
                }
              }
            }
          }
          &.active {
            .icon {
              &:after {
                transform: rotate(0deg);
                transition: .3s;
              }
            }
            + .accordion-content {
              display: inherit;
              padding: var(--block__accordion_content_spacing, 20px 10px);
              height: auto;
              a {
                display: inline;
              }
            }
          }
          .icon {
            position: relative;
            border-radius: var(--block__accordion_icon_borderRadius, 4px);
            width: var(--block__accordion_icon_width, 30px);
            flex-basis: var(--block__accordion_icon_width, 30px);
            padding-top: var(--block__accordion_icon_width, 30px);
            padding-left: var(--block__accordion_icon_height, 30px);
            height: var(--block__accordion_icon_height, 30px);
            margin-left: var(--block__accordion_icon_seperator, 20px);
            &:before,
            &:after {
              position: absolute;
              display: block;
              content: "";
              width: var(--block__accordion_icon_plusSize, 50%);
              height: var(--block__accordion_icon_plusWeight, 4px);
              border-radius: var(--block__accordion_icon_plusRadius, 1px);
            }
            &:before,
            &:after {
              left: calc(50% - (var(--block__accordion_icon_plusSize, 50%) / 2));
              top: calc(50% - (var(--block__accordion_icon_plusWeight, 4px) / 2));
            }
            &:after {
              transform: rotate(90deg);
              transition: .3s;
            }
          }
        }
        .accordion-content {
          display: none;
          padding: 0;
          height: 0;
          overflow: hidden;
          transition: .3s;
          transition-property: height, padding;
          transition-delay: .1s;
          + .label {
            border-top: 1px solid;
          }
        }
      }
    }


    /* 1.5 GALLERY
    /––––––––––––––––––––––––*/
    .gallery-block {
      --sliderHeight: auto;
      height: var(--sliderHeight);
      // backend
      .wp-block {
        margin: 0;
      }
      // .block-list-appender {
      //   position: relative;
      // }
      > ul {
        // overflow-x: hidden!important;
        list-style: none;
        padding: 0;
        > .block-editor-inner-blocks {
          width: 100%;
          height: 100%;
          > .block-editor-block-list__layout {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            height: 100%;
            li.gallery-item {
              height: 100%;
              > .block-editor-inner-blocks,
              > .block-editor-inner-blocks > .block-editor-block-list__layout {
                height: 100%;
              }
            }
            > div.wp-block {
              width: 100%!important;
              max-width: 100%;
              flex-basis: 100%!important;
              flex: 0 0 100%;
              // height: 100%;
              .components-resizable-box__container {
                width: 100%!important;
                img {
                  height: var(--sliderHeight);
                  max-height: 100%!important;
                  width: 100%!important;
                }
              }
              img {
                height: 100%;
              }
            }
          }
        }
      }
      // frontend
      > ul {
        height: 100%;
        li.gallery-item {
          // height: 100%;
          .wp-block-cover,
          .wp-block-cover-image {
            min-height: unset;
            max-height: 100%;
            padding: 0;
            height: 100%;
            max-width: 100%;
            > img {
              height: 100%;
              object-fit: cover!important;
            }
            .wp-block-cover__inner-container {
              padding: var(--content__space, 30px);
            }
          }
          figure {
            display: block;
            width: 100%;
            margin: 0;
            max-width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover!important;
            }
          }
          // .block-list-appender {
          //   display: none;
          // }
        }
      }
    }


    /* 1.6 VIMEO
    /––––––––––––––––––––––––*/
    .block-editor-block-list__block {
      &.is-selected {
        > .block-vimeo > a {
          pointer-events: inherit;
        }
      }
      > .block-vimeo > a {
        pointer-events: none;
      }
    }
    .block-vimeo {
      --tocWidth: 30%;
      --tocSpacing: 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      &:not(.alignwide):not(.alignfull) {
        width: 100%;
      }
      > a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        .block-editor-block-list__block & {
          pointer-events: none;
        }
      }
      .video-cover {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      }
      .video-container,
      .resp_video {
        width: 100%;
        &.video-preview {
          position: absolute;
          z-index: 2;
          height: 100%;
          max-width: 100%!important;
          cursor: pointer;
          &.active {
            opacity: 0;
            pointer-events: none;
          }
          iframe {
            pointer-events: none;
          }
        }
      }
      > .table-of-content {
        &.position-left,
        &.position-right {
          width: var(--tocWidth);
          padding: var(--tocSpacing);
          + .video-container {
            max-width: calc(100% - var(--tocWidth));
          }
        }
        &.position-right,
        &.position-bottom {
          order: 2;
          + .video-container {
            order: 1;
          }
        }
      }
      .table-of-content {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
      }
    }


    /* 1.7 COVER
    /––––––––––––––––––––––––*/
    div.wp-block-cover {
      padding: 0;
      min-height: var(--block__cover_minHeight, 0);
      &.alignfull {
        min-height: var(--block__cover_alignfull_minHeight, var(--block__cover_minHeight, 0));
      }
      &.alignwide {
        min-height: var(--block__cover_alignwide_minHeight, var(--block__cover_minHeight, 0));
      }
      .wp-block-cover__inner-container {
        padding-left: var(--container__side, 20px);
        padding-right: var(--container__side, 20px);
        padding-top: var(--block__cover_container_paddingTop, 20px);
        padding-bottom: var(--block__cover_container_paddingBottom, 20px);
        .is-style-cover-background {
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          height: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .wp-block[data-align="full"] {
      div.wp-block-cover {
        min-height: var(--block__cover_alignfull_minHeight, var(--block__cover_minHeight, 0));
      }
    }
    .wp-block[data-align="wide"] {
      div.wp-block-cover {
        min-height: var(--block__cover_alignwide_minHeight, var(--block__cover_minHeight, 0));
      }
    }


    /* 1.8 IMAGE WITH PINS
    /––––––––––––––––––––––––*/
    .block-image-pins {
      position: relative;
      figure {
        position: relative;
        .pins {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          > .block-editor-inner-blocks,
          > .block-editor-inner-blocks > .block-editor-block-list__layout {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            > .block-editor-block-list__block {
              .block-list-appender {
                z-index: 7;
              }
            }
          }
          .block-editor-block-list__block {
            margin-top: 0;
            margin-bottom: 0;
          }
          .block-editor-block-list__block[data-type="templates/image-pins-item"] {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            max-width: 100%;
          }
          .block-image-pin {
            position: absolute;
            z-index: 4;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            pointer-events: all;
            &.active,
            &[data-info="hover"]:hover {
              .pin-info {
                opacity: 1;
                pointer-events: auto;
                z-index: 1;
              }
            }
            > a,
            > span {
              display: block;
              cursor: pointer;
              &:hover {
                + .pin-info[data-show="hover"] {
                  opacity: 1;
                  pointer-events: auto;
                }
              }
              svg {
                width: var(--imagePins__pinSize, 18px);
                height: auto;
              }
            }
            .pin-info {
              --position: calc(var(--imagePins__pinInfo_width, 200px) - var(--imagePins__pinSize, 18px));
              position: absolute;
              z-index: -1;
              left: calc(var(--position) / 2 * -1);
              opacity: 0;
              width: 100%;
              width: var(--imagePins__pinInfo_width, 200px);
              max-width: calc(100vw - var(--container__side, 20px) - var(--container__side, 20px));
              padding: var(--imagePins__pinInfo_padding, 12px 8px);
              border-width: var(--imagePins__pinInfo_borderWidth, 0px);
              border-style: solid;
              border-radius: var(--imagePins__pinInfo_borderRadius, 0px);
              pointer-events: none;
              .close {
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
                svg {
                  width: var(--imagePins__pinInfo_closeSize, 22px);
                  height: auto;
                }
              }
            }
            [data-load="content"] {
              cursor: pointer;
            }
          }
        }
        .placeholder {
          min-height: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }



  /*==================================================================================
    2.0 BLOCK STYLES
  ==================================================================================*/

  /* 2.1 LIST
  /––––––––––––––––––––––––*/
  ul.is-style-default,
  ul.is-style-list-customizer {
    border-width: var(--block__list_borderWidth, 0);
    border-style: var(--block__list_borderStyle, solid);
  }
  ul.is-style-default,
  ul.is-style-default ul,
  ul.is-style-list-customizer,
  ul.is-style-list-customizer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 0;
    padding: 0;
    gap: var(--block__list_gap, 0);
    row-gap: var(--block__list_gap, 0);
    > li {
      position: relative;
      padding-left: var(--block__list_marker_space, 20px);
      border-width: var(--block__list_item_borderWidth, 0);
      border-style: var(--block__list_item_borderStyle, solid);
      &:before {
        display: block;
        content: var(--block__list_marker_value, "•");
        font-size: var(--block__list_marker_size, 150%);
        position: absolute;
        margin-left: calc(var(--block__list_marker_space, 20px) * -1);
      }
    }
  }


  ol.is-style-default,
  ol.is-style-list-customizer {
    border-width: var(--block__list_ol_borderWidth, 0);
    border-style: var(--block__list_ol_borderStyle, solid);
  }
  ol.is-style-default,
  ol.is-style-default ol,
  ol.is-style-list-customizer,
  ol.is-style-list-customizer ol {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: var(--block__list_ol_padding, 0 20px 0 0);
    gap: var(--block__list_ol_gap, 0);
    row-gap: var(--block__list_ol_gap, 0);
    list-style-position: var(--block__list_ol_marker_listStylePosition, outside);
    > li {
      position: relative;
      margin: var(--block__list_ol_item_margin, 0);
      padding: var(--block__list_ol_item_padding, 0);
      border-width: var(--block__list_ol_item_borderWidth, 0);
      border-style: var(--block__list_ol_item_borderStyle, solid);
    }
  }


  /* 2.2 HR
  /––––––––––––––––––––––––*/
  hr.wp-block-separator {
    margin-top: var(--block__separator_marginTop, 0);
    margin-bottom: var(--block__separator_marginBottom, var(--content__space, 30px));
    &:not(.is-style-dots) {
      border-top-width: var(--block__separator_width, 1px);
      border-bottom-width: 0;
      border-style: solid;
    }
  }


  /* 2.3 BUTTONS
  /––––––––––––––––––––––––*/
  .wp-block-buttons {
    gap: var(--block__buttons_spacing, 20px);
    .wp-block-button {
      .wp-block-button__link {
        padding: var(--block__buttons_padding, 10px 20px);
        border-width: var(--block__buttons_borderWidth, 1px);
        border-radius: var(--block__buttons_borderRadius, 0);
        border-style: solid;
      }
    }
    &.is-style-buttons-absolute-top,
    &.is-style-buttons-absolute-bottom,
    &.is-style-buttons-absolute-right,
    &.is-style-buttons-absolute-left {
      position: absolute!important;
      z-index: 5;
    }
    &.is-style-buttons-absolute-top,
    &.is-style-buttons-absolute-bottom {
      width: 100%;
    }
    &.is-style-buttons-absolute-top {top: 0!important;}
    &.is-style-buttons-absolute-bottom {bottom: 0!important;}
    &.is-style-buttons-absolute-right,
    &.is-style-buttons-absolute-left {
      top: 0;
      bottom: 0;
    }
    &.is-style-buttons-absolute-right {
      width: auto;
      right: 0!important;
      writing-mode: vertical-rl;
      .wp-block-button {
        writing-mode: vertical-rl;
      }
    }
    &.is-style-buttons-absolute-left {
      width: auto;
      left: 0!important;
      .wp-block-button {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
      }
    }
  }

  /* 2.4 FULL HEIGHT GROUP
  /––––––––––––––––––––––––*/
  .is-style-fullheight {
    .wp-block-group__inner-container {
      min-height: 100vh;
      height: 100vh;
    }
  }

  /* 2.5 IMAGE
  /––––––––––––––––––––––––*/
  .wp-block-image {
    figcaption {
      margin: var(--block__imageFigcaption_margin, 10px 0 0);
      padding: var(--block__imageFigcaption_padding, 0);
    }
    > a {
      display: block;
      &.download-button {
        margin-top: var(--block__imageDonloadButton_marginTop, 10px);
        display: block!important;
        height: auto!important;
        flex: unset!important;
      }
    }
  }

  /* 2.6 GROUP
  /––––––––––––––––––––––––*/
  .wp-block-group {
    &.has-background {
      .wp-block-group__inner-container {
        padding-top: var(--block__group_hasBackground_paddingTop, var(--content__space, 30px));
        padding-bottom: var(--block__group_hasBackground_paddingBottom, var(--content__space, 30px));
      }
    }
  }

  /* 2.7 COLUMNS
  /––––––––––––––––––––––––*/
  .wp-block-columns {
    gap: var(--wp--style--block-gap, var(--content__space, 30px));
    row-gap: var(--wp--style--block-gap, var(--content__space, 30px));
    &.has-background {
      padding: var(--block__columns_hasBackground_padding, var(--content__space, 30px));
    }
    &.is-style-columns-has-background-gap {
      gap: var(--block__columns_hasBackground_gap, var(--wp--style--block-gap,2em));
      row-gap: var(--block__columns_hasBackground_gap, var(--wp--style--block-gap,2em));
    }
    &:has(> .wp-block-column.has-background) {
      gap: var(--block__columns_hasBackground_gap, var(--wp--style--block-gap,2em));
      row-gap: var(--block__columns_hasBackground_gap, var(--wp--style--block-gap,2em));
    }
    &[data-columns="3"] {
      gap: var(--block__columns_3columns_gap, var(--wp--style--block-gap,2em));
      row-gap: var(--block__columns_3columns_gap, var(--wp--style--block-gap,2em));
      &.is-style-columns-has-background-gap {
        gap: var(--block__columns_3columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
        row-gap: var(--block__columns_3columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
      }
      &:has(> .wp-block-column.has-background) {
        gap: var(--block__columns_3columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
        row-gap: var(--block__columns_3columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
      }
    }
    &[data-columns="4"] {
      gap: var(--block__columns_4columns_gap, var(--wp--style--block-gap,2em));
      row-gap: var(--block__columns_4columns_gap, var(--wp--style--block-gap,2em));
      &.is-style-columns-has-background-gap {
        gap: var(--block__columns_4columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
        row-gap: var(--block__columns_4columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
      }
      &:has(> .wp-block-column.has-background) {
        gap: var(--block__columns_4columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
        row-gap: var(--block__columns_4columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
      }
    }
    &[data-columns="5"] {
      gap: var(--block__columns_5columns_gap, var(--wp--style--block-gap,2em));
      row-gap: var(--block__columns_5columns_gap, var(--wp--style--block-gap,2em));
      &.is-style-columns-has-background-gap {
        gap: var(--block__columns_5columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
        row-gap: var(--block__columns_5columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
      }
      &:has(> .wp-block-column.has-background) {
        gap: var(--block__columns_5columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
        row-gap: var(--block__columns_5columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
      }
    }
    &[data-columns="6"] {
      gap: var(--block__columns_6columns_gap, var(--wp--style--block-gap,2em));
      row-gap: var(--block__columns_6columns_gap, var(--wp--style--block-gap,2em));
      &.is-style-columns-has-background-gap {
        gap: var(--block__columns_6columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
        row-gap: var(--block__columns_6columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
      }
      &:has(> .wp-block-column.has-background) {
        gap: var(--block__columns_6columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
        row-gap: var(--block__columns_6columns_hasBackground_gap, var(--block__columns_hasBackground_gap,2em));
      }
    }
    .wp-block-column {
      &.has-background {
        padding: var(--block__columns_column_hasBackground_padding, var(--content__space, 30px));
      }
    }
    // /* three items */
    // &:nth-child(1):nth-last-child(3),
    // &:nth-child(2):nth-last-child(2),
    // &:nth-child(3):nth-last-child(1) {
    // 	margin-left: var(--block__columns_hasBackground_gap, var(--wp--style--block-gap,2em));
    // }
    // /* four items */
    // &:nth-child(1):nth-last-child(4),
    // &:nth-child(2):nth-last-child(3),
    // &:nth-child(3):nth-last-child(2),
    // &:nth-child(4):nth-last-child(1) {
    // 	margin-left: var(--block__columns_hasBackground_gap, var(--wp--style--block-gap,2em));
    // }
  }


  /* 2.8 QUOTE
  /––––––––––––––––––––––––*/
  .wp-block-quote {
    padding: var(--block__quote_padding, 0 0 0 10px);
    border-style: solid;
    border-width: var(--block__quote_borderWidth, 0 0 0 3px);
    cite {
      padding: var(--block__quote_cite_padding, initial);
    }
  }


  /* 2.9 GALLERY
  /––––––––––––––––––––––––*/
  .wp-block-gallery-container {
    > .arrow {
      svg {
        path {
          opacity: var(--block__imagegallery_arrow_opacity, 0.66);
        }
      }
    }
    > .alignfull,
    > .alignwide {
      margin-left: 0;
      margin-right: 0;
    }
  }


  /* 2.10 VIDEO - VIDEO JS
  /––––––––––––––––––––––––*/
  .wp-block-video {
    position: relative;
    .video-js {
      position: relative;
      top: unset;
      left: unset;
      width: 100%;
      height: unset;
      .vjs-volume-panel .vjs-volume-control.vjs-slider-active.vjs-volume-horizontal,
      .vjs-volume-panel .vjs-volume-control:active.vjs-volume-horizontal,
      .vjs-volume-panel.vjs-hover .vjs-mute-control~.vjs-volume-control.vjs-volume-horizontal,
      .vjs-volume-panel.vjs-hover .vjs-volume-control.vjs-volume-horizontal,
      .vjs-volume-panel:active .vjs-volume-control.vjs-volume-horizontal,
      .vjs-volume-panel:focus .vjs-volume-control.vjs-volume-horizontal {
        height: var(--block__videojs_progress_height, 5px);
      }
      &.vjs-big-play-centered .vjs-big-play-button {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0;
        margin-left: 0;
      }
      &:not(.vjs-has-started) {
        .vjs-text-track-display {
          opacity: var(--block__videojs_coverStart_opacity, .3);
        }
      }
      &.vjs-paused.vjs-has-started {
        .vjs-text-track-display {
          opacity: var(--block__videojs_coverPause_opacity, .3);
        }
      }
      .vjs-text-track-display {
        bottom: 0;
      }
      video {
        position: relative;
        top: unset;
        left: unset;
        width: 100%;
        height: auto;
      }
      .vjs-control-bar {
        left: var(--block__videojs_controlBar_spacing, 0);
        right: var(--block__videojs_controlBar_spacing, 0);
        bottom: var(--block__videojs_controlBar_spacing, 0);
        gap: var(--block__videojs_controlBar_gap, 5px);
        border-radius: var(--block__videojs_controlBar_borderRadius, 0);
        padding: var(--block__videojs_controlBar_padding, 5px 10px);
        max-width: calc(100% - var(--block__videojs_controlBar_spacing, 0) - var(--block__videojs_controlBar_spacing, 0));
        height: auto;
        align-items: center;
        .vjs-control {
          width: auto;
        }
        .vjs-icon-placeholder {
          width: auto;
          &:before {
            position: inherit;
          }
        }
      }
      .vjs-volume-bar.vjs-slider-horizontal {
        height: var(--block__videojs_progress_height, 5px);
        .vjs-volume-level {
          height: var(--block__videojs_progress_height, 5px);
        }
      }
      .vjs-progress-control {
        .vjs-progress-holder {
          margin: 0;
          height: var(--block__videojs_progress_height, 5px);
        }
      }
      .vjs-volume-panel {
        align-items: center;
        .vjs-volume-control {
          width: 1px;
          margin-right: 0;
          &.vjs-volume-horizontal {
            align-items: center;
            .vjs-volume-bar {
              margin: 0 0 0 10px;
            }
          }
        }
      }
      .vjs-time-control {
        padding-left: 0;
        padding-right: 0;
      }
      .vjs-big-play-button {
        height: auto;
        width: auto;
        top: var(--container__side, 20px);
        left: var(--container__side, 20px);
        padding: var(--block__videojs_firstPlay_padding, 20px 30px);
        border-width: var(--block__videojs_firstPlay_borderWidth, 1px);
        border-radius: var(--block__videojs_firstPlay_borderRadius, 5px);
        .vjs-icon-placeholder {
          position: relative;
          height: auto;
          width: auto;
          &:before {
            position: inherit;
          }
        }
      }
      .vjs-slider-horizontal .vjs-play-progress:before,
      .vjs-slider-horizontal .vjs-volume-level:before {
        top: calc(100% - var(--block__videojs_progress_height, 5px));
      }
      .vjs-mouse-display .vjs-volume-tooltip,
      .vjs-time-tooltip {
        padding: var(--block__videojs_tooltip_padding, 3px);
        border-radius: var(--block__videojs_tooltip_borderRadius, 0);
        &:after {
          position: absolute;
          display: block;
          content: "";
          width: 0;
          height: 0;
          -webkit-transform: rotate(0);
          border-style: solid;
          position: absolute;
          display: block;
          bottom: calc(var(--block__videojs_tooltip_decoSize, 0) * -1);
          left: calc(50% - var(--block__videojs_tooltip_decoSize, 0));
          border-width: var(--block__videojs_tooltip_decoSize, 0) var(--block__videojs_tooltip_decoSize, 0) 0 var(--block__videojs_tooltip_decoSize, 0);
        }
      }
    }
  }


  /* 2.11 MEDIA & TEXT
  /––––––––––––––––––––––––*/
  .wp-block-media-text {
    gap: var(--block__mediatext_gap, var(--wp--style--block-gap, var(--content__space, 30px)));
    row-gap: var(--block__mediatext_gap, var(--wp--style--block-gap, var(--content__space, 30px)));
    &.has-background {
      > .wp-block-media-text__content {
        border-width: var(--block__mediatext_hasBackground_text_borderWidth, var(--block__mediatext_text_borderWidth, 0));
        border-style: var(--block__mediatext_hasBackground_text_borderStyle, var(--block__mediatext_text_borderStyle, solid));
        padding: var(--block__mediatext_hasBackground_text_padding, var(--block__mediatext_text_padding, 0));
      }
    }
    border-width: var(--block__mediatext_borderWidth, 0);
    border-style: var(--block__mediatext_borderStyle, solid);
    padding: var(--block__mediatext_padding, 0);
    > .wp-block-media-text__media {
      border-width: var(--block__mediatext_media_borderWidth, 0);
      border-style: var(--block__mediatext_media_borderStyle, solid);
      padding: var(--block__mediatext_media_padding, 0);
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        min-height: var(--block__mediatext_media_minHeight, auto);
        max-height: var(--block__mediatext_media_maxHeight, auto);
      }
    }
    > .wp-block-media-text__content {
      border-width: var(--block__mediatext_text_borderWidth, 0);
      border-style: var(--block__mediatext_text_borderStyle, solid);
      padding: var(--block__mediatext_text_padding, 0);
    }
  }


  /* 2.12 PARAGRAPH
  /––––––––––––––––––––––––*/
  p.has-background {
    padding: var(--block__paragraph_hasBackground_padding, var(--content__space, 30px));
  }
  .leadtext,
  .is-style-lead {
    padding: var(--leadText__padding, 0);
    border-style: var(--leadText__borderStyle, solid);
    border-width: var(--leadText__borderWidth, 0);
  }


  /* 2.13 TITLE
  /––––––––––––––––––––––––*/
  .is-style-title-one {
    margin-top: var(--titleOne__marginTop, 0);
    margin-bottom: var(--titleOne__marginBottom, 0);
    padding: var(--titleOne__padding, 0);
    border-style: var(--titleOne__borderStyle, solid);
    border-width: var(--titleOne__borderWidth, 0);
  }
  .is-style-title-two {
    margin-top: var(--titleTwo__marginTop, 0);
    margin-bottom: var(--titleTwo__marginBottom, 0);
    padding: var(--titleTwo__padding, 0);
    border-style: var(--titleTwo__borderStyle, solid);
    border-width: var(--titleTwo__borderWidth, 0);
  }
  .is-style-title-three {
    margin-top: var(--titleThree__marginTop, 0);
    margin-bottom: var(--titleThree__marginBottom, 0);
    padding: var(--titleThree__padding, 0);
    border-style: var(--titleThree__borderStyle, solid);
    border-width: var(--titleThree__borderWidth, 0);
  }
  .is-style-title-four {
    margin-top: var(--titleFour__marginTop, 0);
    margin-bottom: var(--titleFour__marginBottom, 0);
    padding: var(--titleFour__padding, 0);
    border-style: var(--titleFour__borderStyle, solid);
    border-width: var(--titleFour__borderWidth, 0);
  }
  .is-style-title-five {
    margin-top: var(--titleFive__marginTop, 0);
    margin-bottom: var(--titleFive__marginBottom, 0);
    padding: var(--titleFive__padding, 0);
    border-style: var(--titleFive__borderStyle, solid);
    border-width: var(--titleFive__borderWidth, 0);
  }



  /*==================================================================================
    2.0 ADDITIONAL STYLINGS
  ==================================================================================*/

    /* 3.1 BACKEND HIGHLIGHTS
    /––––––––––––––––––––––––*/
    .block-editor-block-list__block {
      // disabled block
      &[data-disabled="true"] {
        opacity: .1;
        &.is-selected {
          opacity: 1;
        }
      }
      // mobile / desktop block
      &[data-ismobile="true"] {
        &:after {
          content: "mobile only";
        }
      }
      &[data-isdesktop="true"] {
        &:after {
          content: "desktop only";
        }
      }
      &[data-ismobile="true"],
      &[data-isdesktop="true"] {
        &.is-selected {
          &:after {
            opacity: 0;
          }
        }
        &:after {
          display: block;
          position: absolute;
          top: unset;
          left: unset;
          right: 0;
          bottom: 0;
          width: fit-content;
          height: fit-content;
          padding: 3px;
          font-size: 10px;
          background: black;
          color: white;
        }
      }
      &[data-ismobile="true"][data-isdesktop="true"] {
        &:after {
          display: flex;
          justify-content: center;
          align-items: center;
          content: "configure visibility";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: .7;
        }
      }
    }


    /* 3.2 COLUMNS
    /––––––––––––––––––––––––*/
    .columns {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: var(--columnsSpacing, var(--wp--style--block-gap,2em));
      row-gap: var(--columnsSpacing, var(--wp--style--block-gap,2em));
      .column {
        &.half {
          flex-basis: calc(50% - calc(var(--columnsSpacing, var(--wp--style--block-gap,2em)) / 2));
        }
        &.one-third {
          flex-basis: calc(33.33% - calc(var(--columnsSpacing, var(--wp--style--block-gap,2em)) * 2 / 3));
        }
        &.two-third {
          flex-basis: calc(66.67% - calc(var(--columnsSpacing, var(--wp--style--block-gap,2em)) * 2 / 3 / 2));
        }
        &.one-quarter {
          flex-basis: calc(25% - calc(var(--columnsSpacing, var(--wp--style--block-gap,2em)) * 3 / 4));
        }
      }
      .flex-placeholder {
        height: 0;
      }
    }


    /* 3.3 BLOCK ARROWS
    /––––––––––––––––––––––––*/
    .arrow-toggle {
      --size: 40px;
      --tooglePosition: 15px;
      --spacing: 10px 10px;
      --maxSize: 100%;
      position: absolute;
      z-index: 1;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      &.position-left,
      &.position-right {
        height: 100%;
        flex-direction: row;
        .label {
          &.active {
            + div {
              width: inherit;
            }
          }
          + div {
            width: 0;
            height: 100%;
            overflow-y: auto;
            max-width: var(--maxSize);
         }
        }
      }
      &.position-top,
      &.position-bottom {
        width: 100%;
        flex-direction: column;
        .label {
          &.active {
            + div {
              height: inherit;
            }
          }
          + div {
            width: 100%;
            height: 0;
            overflow-y: auto;
            max-height: var(--maxSize);
         }
        }
      }
      &.position-top,
      &.position-left {
        .label {
          order: 2;
        }
      }
      &.position-top {
        .label {
          margin-top: calc(var(--tooglePosition) * -1);
          &.active {
            transform: rotate(180deg);
          }
        }
      }
      &.position-left {
        .label {
          transform: rotate(-90deg);
          margin-left: calc(var(--tooglePosition) * -1);
          &.active {
            transform: rotate(90deg);
          }
        }
      }
      &.position-bottom {
        bottom: 0;
        .label {
          transform: rotate(180deg);
          margin-bottom: calc(var(--tooglePosition) * -1);
          &.active {
            transform: rotate(0deg);
          }
        }
      }
      &.position-right {
        right: 0;
        .label {
          transform: rotate(90deg);
          margin-right: calc(var(--tooglePosition) * -1);
          &.active {
            transform: rotate(-90deg);
          }
        }
      }
      .label {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        svg {
          width: 50%;
          height: auto;
        }
        &.active {
          + div {
            padding: var(--spacing);
          }
        }
      }
    }


    /* 3.4 CONSENT BLOCK
    /––––––––––––––––––––––––*/
    .consent-request {
      position: relative;
      overflow: hidden;
      &.video-embed .consent-request-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .consent-request-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--consentContainer__padding, 10px 20px);
        border-width: var(--consentContainer__borderWidth, 1px);
        border-radius: var(--consentContainer__borderRadius, 0);
        border-style: solid;
        button {
          padding: var(--consentContainer__Button_padding, var(--block__buttons_padding, 10px 20px));
          border-width: var(--consentContainer__Button_borderWidth, var(--block__buttons_borderWidth, 1px));
          border-radius: var(--consentContainer__Button_borderRadius, var(--block__buttons_borderRadius, 0));
          border-style: solid;
          cursor: pointer;
        }
      }
      .dsgvo-placeholder {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        &.active {
          opacity: 0;
          pointer-events: none;
        }
      }
    }


    /* 3.5 COVER ZOOM ANIMATION
    /––––––––––––––––––––––––*/
  .wp-block-cover {
    &.is-style-cover-zoomer {
      overflow: hidden;
      &:hover {
        img.wp-block-cover__image-background {
          transform: scale(1);
          transition: all .5s linear;
        }
      }
      img.wp-block-cover__image-background {
        transform: var(--block__cover_zoomer_scale, scale(1.12));
        transition: all .5s linear;
      }
    }
    &.is-style-no-spacing {
      .wp-block-cover__inner-container {
        padding: 0;
      }
    }
  }


  /* 3.6 DOWNLOAD ALL BUTTON
  /––––––––––––––––––––––––*/
  .download-container {
    position: relative;
    width: fit-content;
    .download-all-button {
      display: inline-block;
      border-radius: var(--downloadAll__borderRadius, 0);
      border-width: var(--downloadAll__borderWidth, 0);
      border-style: var(--downloadAll__borderStyle, solid);
      padding: var(--downloadAll__padding, 0);
      cursor: pointer;
      &.button-loading + .progress-bar {
        opacity: 1;
        pointer-events: auto;
        transition: .3s;
      }
      > span.download-base {
        display: none;
      }
    }
    .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      opacity: 0;
      border-radius: var(--downloadAll__borderRadius, 0);
      border-width: var(--downloadAll__borderWidth, 0);
      border-style: var(--downloadAll__borderStyle, solid);
      transition: .3s;
      .progress {
        min-width: 0%;
        max-width: 100%;
        height: var(--downloadAll__progressbar_prozess_height, 5px);
        margin: var(--downloadAll__padding, 0);
        transition: .3s;
      }
    }
  }

}
